@import url(stylesheet_post_templavoila.css);
body#ext-templavoila-mod1-index-php { background-color: #fff !important; }
body#ext-templavoila-mod1-index-php tr.elementPageTitlebarStyle td { background-color:#F8F8F8 !important }
body#ext-templavoila-mod1-index-php .headerCell {
	font-size: 10px;
	margin: 8px 0px 5px 0px;
	padding-top: 10px;
	padding-left: 4px;
	padding-bottom: 4px;
	background-color: #FEFEFE; 
	border: 1px solid #ABABAB !important;
	border-top: 0px solid #8BDE00;
	background-image: url(../backgrounds/h3_bg_original.gif); 
	background-repeat : repeat-x; 
	text-align: left;
	text-transform: uppercase;
	color: #000000; 
}
#contentTable .otherCell { }

.contentArea { background-color:white }
#contentTable .contentArea { border:1px dashed #ABABAB; }
#contentTable .contentArea:hover,
#contentTable .sfhover { border:1px solid red !important}


body#ext-templavoila-mod1-index-php .titlebarLeftContentButtons span.contentIcon,
body#ext-templavoila-mod1-index-php .otherCell span.contentIcon,
body#ext-templavoila-mod1-index-php .header-icon-title .contentIcon { border:1px solid rgb(171,171,171) !important; }
body#ext-templavoila-mod1-index-php .titlebarLeftContentButtons a:hover span.contentIcon { border: 1px solid #FFB936 !important; }
body#ext-templavoila-mod1-index-php #typo3-clipboard,
body#ext-templavoila-mod1-index-php #typo3-clipboard a { 
	border-width: 0 !important;
	background-color:transparent !important;
}
body#ext-templavoila-mod1-index-php .typo3-CSM { border:1px solid rgb(171,171,171) !important; }
body#ext-templavoila-mod1-index-php .bgColor4 .typo3-page-ceHeader {} /*  margin-top:15px  */
body#ext-templavoila-mod1-index-php table.normalOptions { 
	background-color: #f9f9f9;
	border:1px solid #eee !important;
}

/* iconMode */
body#ext-templavoila-mod1-index-php .bgColor4 #contentTable { background-color: #f9f9f9 !important; }

/* buttonMode/textMode */
body#ext-templavoila-mod1-index-php .otherCell span.buttonMode,
body#ext-templavoila-mod1-index-php .otherCell span.textMode,
body#ext-templavoila-mod1-index-php .endLinkContainer span.textMode,
body#ext-templavoila-mod1-index-php .commandLink span.buttonMode,
body#ext-templavoila-mod1-index-php #typo3-clipboard td span.button { 
	border:1px solid rgb(171,171,171) !important;
	background-color:rgb(238,238,238) !important;
	vertical-align:middle;
}
body#ext-templavoila-mod1-index-php .commandLink:hover span.buttonMode { background-color: #f9f9f9 !important; }
body#ext-templavoila-mod1-index-php .otherCell a.buttonMode img { border:1px solid #fefefe; }
body#ext-templavoila-mod1-index-php .otherCell a.buttonMode:hover img { border: 1px solid #FFB936 !important; }


/* bothMode */
body#ext-templavoila-mod1-index-php a.bothMode img { /*  .otherCell */
	border:1px solid rgb(171,171,171) !important;
	background-color:rgb(238,238,238) !important;
}
body#ext-templavoila-mod1-index-php .endLinkContainer a.bothMode span.textMode { 
	background-color:transparent !important;
	border-width: 0 !important;
}
body#ext-templavoila-mod1-index-php .otherCell a.bothMode img  { border:1px solid #fefefe  !important; }
body#ext-templavoila-mod1-index-php .otherCell a.bothMode:hover img { border: 1px solid #FFB936 !important; }
body#ext-templavoila-mod1-index-php .otherCell a.bothMode span.textMode { border-width:0 !important; }

body#ext-templavoila-mod1-index-php #sidebartopcontainer { 
	margin-top:6px !important;
	margin-left:-15px;
}
body#ext-templavoila-mod1-index-php #typo3-docbody #sidebartopcontainer {
	margin-top:-10px !important;
	margin-left:0px;
	margin-bottom:20px;
	width:100%; 
	width:98%  !important;  
}
body#ext-templavoila-mod1-index-php #contentTable { 
	width:97%  !important;  
}
body#ext-templavoila-mod1-index-php #typo3-docbody #contentTable { 
	margin-left:-5px !important; 
	position:relative;
	top:45px; 
}

/* Typo3 4.2 related stuff */
body#ext-templavoila-mod1-index-php .titleBarLeftPage { background-color: transparent !important }
body#ext-templavoila-mod1-index-php .pageinfo img {
	position:relative;
	top:-3px;
}
body#ext-templavoila-mod1-index-php #typo3-docheader { 
	height:50px !important; 
	z-index:1;
}
body#ext-templavoila-mod1-index-php #tabbarcontainer {
	top:0px !important;
	left:0;
	width:100%;
	height:20px !important;
	z-index:101;
}
body#ext-templavoila-mod1-index-php .titleBarLeft .pagepath { margin-left:5px !important; }
body#ext-templavoila-mod1-index-php .T42_container { margin-top:-30px !important; }


body#ext-templavoila-mod1-index-php .buttonsleft { } /*width:200px; display:block  !important*/
body#ext-templavoila-mod1-index-php .buttonsleft .buttongroup { 
	position:relative;
	height:22px;
	white-space:nowrap;
}
body#ext-templavoila-mod1-index-php div.buttonsleft a, 
body#ext-templavoila-mod1-index-php div.buttonsleft a img { 
	float:none !important;
	display:inline !important;
	white-space:nowrap !important;
}
body#ext-templavoila-mod1-index-php .buttonsright  {
	/*
	position:absolute;
	top:5px;
	right:5px;
	height:40px;
	white-space:nowrap;
	*/
	float:right;
	height:18px;
	width:100px;
}
body#ext-templavoila-mod1-index-php .buttonsright .buttongroup {
	white-space:nowrap;
	text-align:right;
	position:relative;
}
body#ext-templavoila-mod1-index-php div#typo3-docheader .typo3-csh-link .typo3-csh-inline { top:-22px; }
body#ext-templavoila-mod1-index-php div#typo3-docbody {
	left:0px; 
	width:98% !important; 
}
body#ext-templavoila-mod1-index-php div#typo3-docbody .typo3-sidebar-left { margin-top:-20px; }
body#ext-templavoila-mod1-index-php div#typo3-docbody td.sidebar-shortcut { padding-top:25px !important}
