/* onclick mode backgrouds */
body#typo3-alt-topmenu-dummy-php-iconmenu,
body#typo3-alt-toplogo-php,
body.topmenu_high { 
	background: #515151 url(../backgrounds/bar.png) bottom left repeat-x !important;
	margin:0 !important;
	padding:0 !important;
	height:100% important;
} 
body#typo3-alt-topmenu-dummy-php-iconmenu .c-menu,
body#typo3-alt-topmenu-dummy-php-iconmenu #header { margin-top:0 !important; }
#div-editNav td, table.typo3-dyntabmenu-tabs td { white-space:nowrap; }

/* hover mode backgrouds */
body#typo3-alt-toplogo-php .backendlogo { display:none !important; }
.both-wrapper {
	border:1px solid #c0c0c0;
	background-color:#F0F0EE;
}
.curItem .both-wrapper { border:1px solid #2270c3 !important; }
.secondary a:link, .secondary a:visited, .secondary a:hover, .secondary a:active, .secondary a:focus { color:#2270c3 !important }
.both-wrapper {
	border:1px solid #c0c0c0;
	background-color:#F0F0EE;
}
/* hover mode colors */
span.img-wrapper { border:1px solid #F0F0EE; }
a:hover span.img-wrapper { border:1px solid #2270c3 !important; }