
{% load static i18n humanize %}
<div class="search-cat {% if 'wms' in search_results %} active {% endif %}">
    <div class="search-header">
        <div class="source--title -js-title -js-accordion">
            <span class="accordion icon closed"></span>
            <img alt="{% trans 'A web map service icon, shaped as a lying map' %}" class="tab-icn" src="{% static 'searchCatalogue/images/icons/icn_wms.png' %}" title="{{ search_results.dataset.filter.searchFilter.classes.0.title }}">
            <span>{{ all_resources.wms }} ({{ search_results.wms.wms.wms.md.nresults|intcomma }})</span>
        </div>
    </div><!-- end .search-header -->
    <div class="wms search--body hide">
        {% if search_results.wms.keywords.tagCloud.tags|length  > 0 and search_results.wms.wms.wms.md.nresults|add:0 > 0 %}
            {% with search_results.wms.keywords.tagCloud.tags as tags %}

                {% include 'keywords.html' %}

            {% endwith %}
        {% endif %}
        <div>
            <div class="center">
                {% if search_results.wms.wms.wms.md.nresults|add:0 > 0 %}
                {% with pages.wms as page_data %}
                    {% with 'wms' as resource_name %}
                        {% include 'pagination.html' %}

                    {% endwith %}
                {% endwith %}
                {% endif %}
            </div><!-- end .center -->


            <div class="search-results">
                {% for result in search_results.wms.wms.wms.srv %}
                    {% with result.layer.0 as result_l %}
                    <div class="result--item -js-result-wms">
                        <!-- parent layer -->
                            {% with result_l as layer %}
                                {% include 'primary/wms/wms_search_result.html' %}
                            {% endwith %}
                            {% if result_l.layer is not None %}
                                <!-- children layer -->
                                {% for layer in result_l.layer %}
                                    {% with result_l as parent_result %}
                                    <div class="result-item-layer hide">
                                        {% include 'primary/wms/wms_search_result.html' %}
                                    </div>
                                    {% endwith %}
                                {% endfor %}
                            {% endif %}
                    </div><!-- end .result--item -->
                {% endwith %}
                {% endfor %}
            </div><!-- end .search-results -->

            <div class="center">
                {% if search_results.wms.wms.wms.md.nresults|add:0 > 0 %}
                {% with pages.wms as page_data %}
                    {% with 'wms' as resource_name %}
                        {% include 'pagination.html' %}

                    {% endwith %}
                {% endwith %}
                {% endif %}
            </div><!-- end .center -->


        </div><!-- end .div -->
    </div><!-- end .wms .search--body -->
</div><!-- end .search-cat -->