body{
	//background-color: #ffffff;
	margin-left: 0px;
	margin-top: 0px;
}
.header{
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 12px;	
}
.switch{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
}
.titles{
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 11px;
}

a:link{
	text-decoration : none;
	font-family : Arial, Helvetica, sans-serif;
	font-size : 12px;

	color: #ffffff;
	//background-color:#ffffff;
}
	a:visited{
		text-decoration : none;
		font-family : Arial, Helvetica, sans-serif;
		font-size : 12px;

		color: #ffffff;
        //background-color:#ffffff;
	}
	a:hover{
		font-family : Arial, Helvetica, sans-serif;
		color: #ffffff;

		text-decoration : none;
		//background-color : #ffffff;
	}
	a:active{
		font-family : Arial, Helvetica, sans-serif;
		color: #ffffff;

		text-decoration : none;
        //background-color:#ffffff;
	}
.legendlink{
	text-decoration : none;
	color:#ffffff;
        border: 0;
        border-width:0px;
	//background-color: #ffffff;
}
