{% extends 'base.html' %}
{% load static i18n humanize %}

{% block title %}
- {% trans 'Applications' %}
{% endblock %}

{% block head %}
    <script type="text/javascript" src="{% static 'useroperations/js/filter.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static '/useroperations/css/favourite_wmcs.css' %}" media="all" />
    <link rel="stylesheet" type="text/css" href="{% static '/useroperations/css/applications.css' %}" media="all" />
    <link rel="stylesheet" type="text/css" href="{% static '/useroperations/css/tiles.css' %}" media="all" />
    <link rel="stylesheet" href="{% static 'searchCatalogue/css/main.css' %}">
{% endblock %}

{% block body %}
<div class="landing-page-headline">
    <h2>{% trans 'Applications' %}</h2>
</div>
<div class="tile-options-wrapper">
    <div class="options-left">
    </div>
    <div class="options-middle">
        <div class="tile-filter-input-wrapper">
            <input class="tile-filter-input" type="text" title="{% trans 'Filter by' %}" placeholder="{% trans 'Filter by' %}">
            <i id="tile-filter-input-icon" class="fas fa-search"></i>
        </div>
    </div>
    <div class="options-right">
        <div class="tile-list-wrapper" title="{% trans 'Switch between list or tile view' %}">
            <img class="tile-list-toggler-img" src="{% static 'useroperations/images/icn_list.png' %}">
            <label class="switch">
              <input {%if LISTED_VIEW_AS_DEFAULT %} checked="checked" {% endif %} type="checkbox">
              <span class="slider round"></span>
            </label>
        </div>
        <div class="tile-order-wrapper select-wrapper">
            <select class="tile-filter-order" title="{% trans 'Order by' %}">
                {% for val, title in order_by_options.items %}
                    <option class="tile-filter-order-option" value="{{ val }}" {% if val == ORDER_BY_DEFAULT %} selected="selected" {% endif %}>{{ title }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
</div>
<div class="tile-wrapper applications">
    {% for result in apps %}
        <div class="tile">
            <a target="_blank" href="{{ result.accessURL }}">
            <div class="tile-header" data-id="{{ result.id }}" data-name="{{ result.title }}" data-num-resources="{{ result.loadCount }}">
                {% if result.internal %}
                <img class="powered-by" src="{% static 'useroperations/images/favicon.png' %}" title="{% trans 'Powered by GeoPortal.RLP' %}">
                {% endif %}
                <div class="tile-title">
                    {{ result.title }}
                </div>
                <div class="tile-header-img">
                        {% if result.previewURL != '' and result.previewURL is not None %}
                        <img class="tile-img" src="{{ result.previewURL }}">
                        {% else  %}
                        <img class="tile-img" src="{% static 'searchCatalogue/images/no_image.png' %}" title="{% trans 'No preview available' %}">
                        {% endif %}
                </div>
                </div>
            </a>
            <div class="tile-content">
                <div class="tile-content-abstract">
                    <div class="sub-tile-container">
                    </div>
                    <div class="sub-tile-container">
                        <div class="data-info-container" title="{% trans 'Times used' %}">
                            <img class="sub-tile-img" src="{% static 'searchCatalogue/images/icons/icn_show.png' %}">
                            <div>{{ result.loadCount|intcomma }}</div>
                        </div>
                    </div>
                    <div class="sub-tile-container">
                        <div class="data-info-container" title="{% trans 'Published on' %}">
                            <img class="sub-tile-img" src="{% static 'searchCatalogue/images/icons/icn_calendar.png' %}">
                            <div>{{ result.date }}</div>
                        </div>
                    </div>
                    <hr>
                    <div class="sub-tile-container">
                        <a href="{{ result.mdLink }}#tabs-3" target="_blank">
                        <div class="data-info-container metadata-link" title="{% trans 'Published by' %}">
                            <img alt="{% trans 'An organization logo' %}" class="icn-organization" src="{% static 'searchCatalogue/images/icons/icn_organization.png' %}">
                            <div class="organization-title">{{ result.respOrg }}</div>
                        </div>
                        </a>
                    </div>
                    <hr>
                    <div class="sub-tile-container">
                        <a href="{{ result.mdLink }}" target="_blank">
                        <div class="data-info-container metadata-link" title="{% trans 'Metadata' %}">
                            <img class="icn-metadata" alt="{% trans 'A metadata symbol' %}" src="{% static 'searchCatalogue/images/icons/icn_queryable.png' %}">
                            <div>{% trans 'Metadata' %}</div>
                        </div>
                        </a>
                    </div>
                    <hr>
                    <div class="tile-content-abstract-text">
                        {{ result.abstract|safe }}
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

</div>

{% endblock %}