{% extends 'base.html' %}
{% load i18n static %}
{% load crispy_forms_tags %}
{% block body %}

<div class="title">
    <h1>{{ headline }}</h1>
</div>

<div class="description">
    <a target="_self" href="/article/Registrierung/">{% trans 'Why should I create an account?' %}</a>
    {% trans 'A short explanation of the benefits of an account for this Geoportal!' %}
</div>

<hr>
<div  style="color:gray; font-size:0.8em;">
       {% trans '* The field is required.' %}
</div>
<div class="wrapper form-wrapper">
    <form method="post">
        {% csrf_token %}
			<div class="sliding" id="password_message">
                <h2 style="font-size:150%">{% trans 'Password must contain the following:' %}</h2>
                <ul style="list-style-type:none;">
                <li id="special" class="invalid"><strong>{% trans 'A special character, these are allowed: @#$%&+=!:-_' %}</strong></li>
                <li id="length" class="invalid"><strong>{% trans 'Minimum 9 characters' %}</strong></li>
            </div>
            <table>
            {% for field in form %}
            <tr class="field-wrapper {% if field.id_for_label in small_labels %}small-label{% endif %}">
                <td class="field-label">
                    {{ field.label_tag }}
                    {% if field.field.required %}
                    *
                    {% endif %}
                </td>
                <td class="field-value">
                    {{ field }}
                </td>
            </tr>
            {% endfor %}
        </table>
        {% if use_recaptcha == 1 and register == 1 %}
         <div class="g-recaptcha" data-sitekey="{{ recaptcha_public_key }}"></div>
        {% endif %}
        <div class="foot-note">
            {% trans '* The field is required.' %}
        </div>
        <hr>
        <div class="foot-note">
            {% trans 'For additional information regarding your privacy and the GDPR, please read our ' %}
            <a target="_self" href="/article/Datenschutz">{% trans 'privacy rules' %}.</a>
        </div>
        <div class="submit-button-wrapper">
            <input type="hidden" name="action" value="submit" />


            {% if btn_label1 %}
            <input id="change-form-button" class="form-change-submit-button" data-toggle="save" name="submit" type="submit" value="{{ btn_label1 }}">
            {% endif %}

            {% if btn_label2 %}
                <!--<input id="change-form-button" class="hidden-form-submit-button" name="submit" type="submit" value="{{ btn_label1 }}">-->
            <input id="delete-form-button" class="form-delete-submit-button" data-toggle="delete" name="submit" type="submit" value="{{ btn_label2 }}">
            {% endif %}

        </div>
    </form>
</div>
<input type="hidden" id="dsgvo" value="{{ dsgvo_flag }}">


{% endblock %}
