<!-- THIS IS THE SAME AS GEOPORTAL.HTML, BUT WE NEED THIS ONE FOR EXTERNAL MAP VIEWER CALLS LIKE IN EMBEDDED WEBPAGES -->

{% extends 'base.html' %}
{% load i18n %}
{% block body %}

	<div class="mapbender">
		{% if mapviewer_params is None %}
			<iframe id="mapviewer-external" frameborder="no" src="about:blank" data-params="http://{{ HOSTNAME }}/mapbender/frames/index.php?lang={{ lang }}&mb_user_myGui={{ DEFAULT_GUI }}&LAYER[visible]=1&LAYER[querylayer]=1" name="geop_map"></iframe>
		{% else %}
			<iframe id="mapviewer-external" frameborder="no" src="{{ mapviewer_src }}" data-params="http://{{ HOSTNAME }}/mapbender/frames/index.php?lang={{ lang }}&mb_user_myGui={{ mapviewer_params }}" name="geop_map"></iframe>
		{% endif %}
	</div>

{% endblock %}
