{% load i18n static %}

{% block body %}
	<div class="mapbender">
        <div class="map-sidebar">
            <div class="map-sidebar-actions">
                <div class="map-viewer-selector" title="{% trans 'Switch between mapviewers' %}">
					<i class="fas fa-exchange-alt"></i>
		        </div>
                <div class="map-viewer-list">
				{% for mapviewer_name, mapviewer_val in mapviewers.items %}
                	<div class="map-viewer-list-entry" data-resource="{{ mapviewer_val }}">{{ mapviewer_name }}</div>
				{% endfor %}
                </div>
				{% if guis|length > 1 %}
		        	<div class="map-application-selector" title="{% trans 'Select other map application' %}">
		        		<div class="map-applications-toggler">
							<i class="far fa-folder-open"></i>
		        		</div>
		        	</div>
				{% endif %}
            </div>
            <div class="map-applications-list">
                {% for gui in guis %}
                <div class="map-applications-list-entry" data-id="{{ gui }}">{{ gui }}</div>
                {% endfor %}
            </div>
        </div>

		{% if mapviewer_params is None %}
			<iframe id="mapviewer" frameborder="no" src="about:blank" data-resource="{{ HTTP_OR_SSL }}{{ HOSTNAME }}/mapbender/frames/index.php?lang={{ LANGUAGE_CODE }}&gui_id={{ DEFAULT_GUI }}&LAYER[visible]=1&LAYER[querylayer]=1" name="geop_map" width="{{ IFRAME_WIDTH }}px" height="{{ IFRAME_HEIGHT }}px"></iframe>
		{% else %}
			<iframe id="mapviewer" frameborder="no" src="about:blank" data-resource="{{ HTTP_OR_SSL }}{{ HOSTNAME }}/mapbender/frames/index.php?lang={{ LANGUAGE_CODE }}&gui_id={{ mapviewer_params }}" name="geop_map" width="{{ IFRAME_WIDTH }}x" height="{{ IFRAME_HEIGHT }}px"></iframe>
		{% endif %}
	</div>
{% endblock %}
