{% extends 'base.html' %}
{% load static i18n humanize %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static '/useroperations/css/favourite_wmcs.css' %}" media="all" />
<link rel="stylesheet" type="text/css" href="{% static '/useroperations/css/tiles.css' %}" media="all" />
<link rel="stylesheet" href="{% static 'searchCatalogue/css/main.css' %}">
    <script type="text/javascript" src="{% static 'useroperations/js/filter.js' %}"></script>
{% endblock %}

{% block body %}
<div class="landing-page-headline">
    <h2>{% trans 'Topics' %}</h2>
</div>
<div class="tile-options-wrapper">
    <div class="options-left">
    </div>
    <div class="options-middle">
        <div class="tile-filter-input-wrapper">
            <input class="tile-filter-input" type="text" title="{% trans 'Filter by' %}" placeholder="{% trans 'Filter by' %}">
            <i id="tile-filter-input-icon" class="fas fa-search"></i>
        </div>
    </div>
    <div class="options-right">
        <div class="tile-list-wrapper" title="{% trans 'Switch between list or tile view' %}">
            <i class="fas fa-th-list icn-toggle-list"></i>
            <label class="switch">
              <input  {%if LISTED_VIEW_AS_DEFAULT %} checked="checked" {% endif %} type="checkbox">
              <span class="slider round"></span>
            </label>
        </div>
        <div class="tile-order-wrapper select-wrapper">
            <select class="tile-filter-order" title="{% trans 'Order by' %}">
                {% for val, title in order_by_options.items %}
                    <option class="tile-filter-order-option" value="{{ val }}" {% if val == ORDER_BY_DEFAULT %} selected="selected" {% endif %}>{{ title }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
</div>
<div class="tile-wrapper topics">
    {% for result in topics.tags %}
        <div class="tile">
            <div class="tile-header" data-id="{{ result.id }}" data-name="{{ result.title }}" data-num-resources="{{ result.weight }}">
                <div class="tile-title">{{ result.title }}</div>
                <div class="tile-header-img">
                    {% if result.symbolUrl != '' %}
                    <img alt="{% trans 'An INSPIRE topic symbol' %}" class="tile-img" src="{{ result.symbolUrl }}">
                    {% else  %}
                    <img alt="{% trans 'Placeholder INSPIRE topic symbol, since no topic symbol is available' %}" class="tile-img" src="{% static 'searchCatalogue/images/no_image.png' %}">
                    {% endif %}
                </div>
            </div>
            <div class="tile-content">
                <div class="tile-content-abstract">
                    <div class="sub-tile-container">
                        <div class="data-info-container" title="{% trans 'Number of data' %}">
                            <i class="fas fa-file-alt icn-file icn-sub-tile"></i>
                            <span>{{ result.weight|intcomma }}</span>
                        </div>
                        <a href="{{ inspire_doc_uri }}{{ result.inspireThemeId }}" target="_blank">
                            <div class="data-info-container" title="{% trans 'More information' %}">
                                <i class="fas fa-info-circle icn-sub-tile"></i>
                                <span>{% trans 'Information' %}</span>
                            </div>
                        </a>
                        <a href="https://inspire.ec.europa.eu/">
                            <div class="data-info-container" title="{% trans 'INSPIRE Topic' %}">
                                <img alt="{% trans 'The INSPIRE icon, shaped like a pineapple' %}" class="icn-sub-tile only" src="{% static 'searchCatalogue/images/icons/icn_inspire_2018.png' %}">
                            </div>
                        </a>
                    </div>
                    <hr>
                    <div class="tile-content-abstract-text" title="{{ result.description|safe }}">
                        {{ result.description|safe }}
                    </div>
                </div>
            </div>
        </div>

    {% endfor %}

</div>

{% endblock %}