{% extends 'base.html' %}
{% load static i18n humanize %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static '/useroperations/css/favourite_wmcs.css' %}" media="all" />
{% endblock %}

{% block body %}

<div class="landing-page-body">

    <div class="landing-page-headline">
	    <h1>Herzlich willkommen im Geoportal Hessen</h1>
    </div>
    <div class="w3-container">
        <p><strong>Hier erhalten Sie einen einheitlichen Zugang zu den raumbezogenen Daten der Geodateninfrastruktur Hessen (GDI-HE)</strong></p>
    </div>
</div>

<div class="landing-page-box1"><!--landing-page-box-Begin -->
<div class="landing-page-headline">
    <h2>Sie suchen Geodaten?</h2>
    <p class="landing-page-first-paragraph">Hier erhalten Sie einen Vorsprung bei Ihrer Suche</p>
    <p class="landing-page-second-paragraph">Starten Sie jetzt eine bereits gefilterte Suche durch die Auswahl einer der Kacheln</p>
</div>
<div class="quickstart-container">
    <a class="quickstart search" href="#" title="{% trans 'Search for all map collections' %}" data-resource="wmc">
        <div class="quickstart-header">
            <i class="fas fa-map" alt="{% trans 'A lying map in the background. A large plus in the foreground.' %}" title="{% trans 'Web Map Context' %}" aria-hidden= "true"></i>
            <span>{% trans 'Map collections' %}</span>
        </div>
        <span class="quickstart-body">{{ results.num_wmc|intcomma }}</span>
    </a>
    <a class="quickstart search" href="#" title="{% trans 'Search for all map layers' %}" data-resource="wms">
        <div class="quickstart-header">
            <i class="fas fa-layer-group" alt="{% trans 'A lying map' %}" title="{% trans 'Map layers' %}" aria-hidden= "true"></i>
            <span>{% trans 'Map layers' %}</span>
        </div>
        <span class="quickstart-body">{{ results.num_wms|intcomma }}</span>
    </a>
    <a class="quickstart search" href="#" title="{% trans 'Search for all datasets' %}" data-resource="dataset">
        <div class="quickstart-header">
            <i class="fas fa-globe" title="{% trans 'Datasets' %}" aria-hidden= "true"></i>
            <span>{% trans 'Datasets' %}</span>
        </div>
        <span class="quickstart-body">{{ results.num_dataset|intcomma }}</span>
    </a>
</div>
<div class="quickstart-container">
    <a class="quickstart" href="{% url 'useroperations:organizations' %}" title="{% trans 'Show all organizations' %}">
        <div class="quickstart-header">
            <i class="fas fa-city" alt="{% trans 'An organization icon' %}" title="{% trans 'Organizations' %}" aria-hidden= "true"></i>
            <span>{% trans 'Organizations' %}</span>
        </div>
        <span class="quickstart-body">{{ results.num_orgs|intcomma }}</span>
    </a>
    <a class="quickstart" href="{% url 'useroperations:apps' %}" title="{% trans 'Show all applications' %}">
        <div class="quickstart-header">
            <i class="fas fa-cogs" alt="{% trans 'An application icon' %}" title="{% trans 'Applications' %}" aria-hidden= "true"></i>
            <span>{% trans 'Applications' %}</span>
        </div>
        <span class="quickstart-body">{{ results.num_apps|intcomma }}</span>
    </a>
    <a class="quickstart" href="{% url 'useroperations:categories' %}" title="{% trans 'Show all topics' %}">
        <div class="quickstart-header">
            <i class="fas fa-filter" alt="{% trans 'A filter icon' %}" title="{% trans 'Filter by categories and topics' %}" aria-hidden= "true" ></i>
            <span>{% trans 'Categories and topics' %}</span>
        </div>
        <span class="quickstart-body">{{ results.num_topics|intcomma }}</span>
    </a>
</div>
</div><!--landing-page-box-END -->
<div class="landing-page-box2"><!--landing-page-box-Begin -->
<div class="landing-page-headline">
    <h2>Häufig gestartete Karten</h2>
    <p class="landing-page-first-paragraph">Hier starten Sie unsere Kartenanwendung mit bereits ausgewählten Kartenebenen</p>
    <p class="landing-page-second-paragraph">Sie können im Anschluss Kartenebenen aus- oder einschalten und weitere Kartenebenen hinzuladen</p>
</div>
<div class="tile-wrapper favourite-wmcs">
    {% for result in results.wmc %}
        <div class="tile">
            <a href="#" class="tile-header" data-id="WMC={{result.id}}">
                <div class="tile-title">
                   <p><strong>{{ result.title|safe }}</strong></p>
                </div>
                <div class="tile-header-img">
                    <img alt="{% trans 'Preview of the map combination' %}" title="{% trans 'Preview of the map combination' %}" class="tile-img" src="{{ result.previewURL }}">
                </div>
            </a>
            <div class="tile-content">
                <div class="tile-content-abstract">
                    <div class="sub-tile-container">
                        <div title="{% trans 'Total views this week' %}" class="view-count">
                            <i class="fas fa-eye"></i>
                            <span>{{ result.loadCount|intcomma }}</span>
                        </div>
                        <div title="{% trans 'Metadata' %}">
                            <a class="metadata-link-landing" href="{{ result.mdLink }}" target="_blank">
                                <span class="metadata-link data-info-container">
                                    <i class="fas fa-file-alt icn-metadata" aria-hidden="true"></i>
                                </span>
                            </a>
                        </div>
                        <div title="{% trans 'Share' %}" class="share-button popup-landing">
                          <span class="popuptext-landing {{ result.id }}" id="sharepopup{{ result.id }}">{% trans 'Map URL copied to clipboard' %}</span>
                            <i class="fa fa-share-alt"></i>
                        </div>
                        <div title="{% trans 'Open in mobile viewer' %}" class="mobile-button">
                            <i class="fas fa-mobile-alt"></i>
                        </div>
                    </div>
                    <hr>
                    <p>
                    {% if result.abstract|length == 0 %}
                        {% trans 'No description available' %}
                    {% else %}
                        {{ result.abstract|safe }}
                    {% endif %}
                   </p>
                </div>
            </div>
        </div>
    {% endfor %}
        <div id="show-all-tile" class="tile">
            <a href="#" id="show-all-tile-content" class="tile-header">
                <div class="tile-title"><p><strong>{% trans 'Show all' %}</strong></p></div>
                <div class="tile-header-img">
                    <img alt="{% trans 'Logo of the spatial data infrastructure organization' %}" class="tile-img" src="{% static 'useroperations/images/logo-gdi.png' %}">
                </div>
            </a>
            <div class="tile-content">
                <div class="tile-content-abstract">
                    <hr>
                    <p>
                    {% trans "Start a search and explore all results. Let's go!" %}
                    </p>
                </div>
            </div>
        </div>
</div>
</div><!--landing-page-box-END -->

{% endblock %}
