{% extends 'base.html' %}
{% load static i18n humanize %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static '/useroperations/css/favourite_wmcs.css' %}" media="all" />
{% endblock %}

{% block body %}
<div class="quickstart-container">
    <a class="quickstart search" title="{% trans 'Search for all datasets' %}" data-resource="dataset">
        <div class="quickstart-header">
            <img src="{% static 'searchCatalogue/images/icons/icn_dataset_primary.png' %}">
            <span>{% trans 'Datasets' %}</span>
        </div>
        <span class="quickstart-body">{{ results.num_dataset|intcomma }}</span>
    </a>
    <a class="quickstart search" title="{% trans 'Search for all map layers' %}" data-resource="wms">
        <div class="quickstart-header">
            <img src="{% static 'searchCatalogue/images/icons/icn_wms_primary.png' %}">
            <span>{% trans 'Map layers' %}</span>
        </div>
        <span class="quickstart-body">{{ results.num_wms|intcomma }}</span>
    </a>
    <a class="quickstart search" title="{% trans 'Search for all map collections' %}" data-resource="wmc">
        <div class="quickstart-header">
            <img src="{% static 'searchCatalogue/images/icons/icn_wmc.png' %}">
            <span>{% trans 'Map collections' %}</span>
        </div>
        <span class="quickstart-body">{{ results.num_wmc|intcomma }}</span>
    </a>
</div>
<div class="quickstart-container">
    <a class="quickstart" href="{% url 'useroperations:organizations' %}" title="{% trans 'Show all organizations' %}">
        <div class="quickstart-header">
            <img src="{% static 'searchCatalogue/images/icons/icn_organization_primary.png' %}">
            <span>{% trans 'Organizations' %}</span>
        </div>
        <span class="quickstart-body">{{ results.num_orgs|intcomma }}</span>
    </a>
    <a class="quickstart" href="{% url 'useroperations:categories' %}" title="{% trans 'Show all topics' %}">
        <div class="quickstart-header">
            <img src="{% static 'searchCatalogue/images/icons/icn_filter.png' %}">
            <span>{% trans 'Categories and topics' %}</span>
        </div>
        <span class="quickstart-body">{{ results.num_topics|intcomma }}</span>
    </a>
</div>

<div class="landing-page-headline">
    <h2>{% trans 'Most frequently used map combinations' %}</h2>
</div>
<div class="tile-wrapper favourite-wmcs">
    {% for result in results.wmc %}
        <div class="tile">
            <div class="tile-header" data-id="{{result.id}}">
                <div class="tile-title">
                    {{ result.title|safe }}
                </div>
                <div class="tile-header-img">
                    <img class="tile-img" src="{{ result.previewURL }}">
                </div>
            </div>
            <div class="tile-content">
                <div class="tile-content-abstract">
                    <div class="sub-tile-container">
                        <div title="{% trans 'Total views this week' %}" class="view-count">
                            <img src="{% static 'searchCatalogue/images/icons/icn_show.png' %}">
                            <span>{{ result.loadCount|intcomma }}</span>
                        </div>
                        <div title="{% trans 'Open in mobile viewer' %}" class="mobile-button">
                            <img src="{% static 'useroperations/images/icn_mobile.png' %}">
                        </div>
                    </div>
                    <hr>
                    {% if result.abstract|length == 0 %}
                        {% trans 'No description available' %}
                    {% else %}
                        {{ result.abstract|safe }}
                    {% endif %}
                </div>
            </div>
        </div>
    {% endfor %}
        <div id="show-all-tile" class="tile">
            <div id="show-all-tile-content" class="tile-header">
                <div class="tile-title">{% trans 'Show all' %}</div>
                <div class="tile-header-img">
                    <img class="tile-img" src="{% static 'useroperations/images/logo-gdi.png' %}">
                </div>
            </div>
            <div class="tile-content">
                <div class="tile-content-abstract">
                    <hr>
                    {% trans "Start a search and explore all results. Let's go!" %}
                </div>
            </div>
        </div>
</div>


{% endblock %}