{% extends 'base.html' %}
{% load static i18n humanize %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static '/useroperations/css/favourite_wmcs.css' %}" media="all" />
{% endblock %}

{% block body %}
<h2>{% trans 'Organizations and topics' %}</h2>
<div class="quickstart-container">
    <a class="quickstart" href="{% url 'useroperations:organizations' %}">
        <img src="{% static 'searchCatalogue/images/icons/icn_organization_hover.png' %}">
        <span>{% trans 'Organizations' %}</span>
    </a>
    <a class="quickstart" href="{% url 'useroperations:categories' %}">
        <img src="{% static 'searchCatalogue/images/icons/icn_filter_hover.png' %}">
        <span>{% trans 'Categories and topics' %}</span>
    </a>
</div>

<h2>{% trans 'Most frequently used Map Combinations' %}</h2>
<div class="tile-wrapper">
    {% for result in results.wmc %}
        <div class="tile">
            <div class="tile-header">
                {{ result.title|safe }}
            </div>
            <div class="tile-content">
                <div class="tile-content-img">
                    <a href="WMC={{ result.id }}" target="_blank">
                        <img class="tile-img" src="{{ result.previewURL }}">
                    </a>
                </div>
                <div class="tile-content-abstract">
                    <div class="sub-tile-container">
                        <div title="{% trans 'Total views this week' %}" class="view-count">
                            <img src="{% static 'searchCatalogue/images/icons/icn_show.png' %}">
                            <span>{{ result.loadCount|intcomma }}</span>
                        </div>
                        <div title="{% trans 'Open in mobile viewer' %}" class="mobile-button">
                            <img src="{% static 'useroperations/images/icn_mobile.png' %}">
                        </div>
                    </div>
                    <hr>
                    {% if result.abstract|length == 0 %}
                        {% trans 'No description available' %}
                    {% else %}
                        {{ result.abstract|safe }}
                    {% endif %}
                </div>
            </div>
        </div>
    {% endfor %}
        <div id="show-all-tile" class="tile">
            <div class="tile-header">
                {% trans 'Show all' %}
            </div>
            <div class="tile-content">
                <div id="show-all-tile-content" class="tile-content-img">
                    <a href="" target="_blank">
                        <img class="tile-img" src="{% static 'useroperations/images/logo-gdi.png' %}">
                    </a>
                </div>
                <div class="tile-content-abstract">
                    <hr>
                    {% trans "Start a search and explore all results. Let's go!" %}
                </div>
            </div>
        </div>
</div>


{% endblock %}