{% extends 'base.html' %}
{% load static i18n humanize %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static '/useroperations/css/favourite_wmcs.css' %}" media="all" />
<link rel="stylesheet" type="text/css" href="{% static '/useroperations/css/tiles.css' %}" media="all" />
<link rel="stylesheet" href="{% static 'searchCatalogue/css/main.css' %}">
<script type="text/javascript" src="{% static 'useroperations/js/filter.js' %}"></script>
<script type="text/javascript" src="{% static 'useroperations/js/organizations.js' %}"></script>
{% endblock %}

{% block body %}
<div class="landing-page-headline">
    <h2>{% trans 'Publishing Organizations' %}</h2>
</div>
<div class="tile-options-wrapper">
    <div class="options-left">
    </div>
    <div class="options-middle">
        <div class="tile-filter-input-wrapper">
            <input class="tile-filter-input" type="text" title="{% trans 'Filter by' %}" placeholder="{% trans 'Filter by' %}">
            <i id="tile-filter-input-icon" class="fas fa-search"></i>
        </div>
    </div>
    <div class="options-right">
        <div class="tile-list-wrapper" title="{% trans 'Switch between list or tile view' %}">
            <i class="fas fa-th-list icn-toggle-list"></i>
            <label class="switch">
              <input {%if LISTED_VIEW_AS_DEFAULT %} checked="checked" {% endif %} type="checkbox">
              <span class="slider round"></span>
            </label>
        </div>
        <div class="tile-order-wrapper select-wrapper">
            <select class="tile-filter-order" title="{% trans 'Order by' %}">
                {% for val, title in order_by_options.items %}
                    <option class="tile-filter-order-option" value="{{ val }}" {% if val == ORDER_BY_DEFAULT %} selected="selected" {% endif %}>{{ title }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
</div>
<div class="tile-wrapper organizations">
    {% for result in organizations %}
        <div class="tile">
            <div class="tile-header" data-id="{{ result.id }}" data-name="{{ result.name }}" data-num-resources="{{ result.all_resources }}">
                <div class="tile-title">{{ result.name }}</div>
                <div class="tile-header-img">
                    {% if result.image_display_url != '' %}
                    <img class="tile-img" src="{{ result.image_display_url }}">
                    {% else  %}
                    <img class="tile-img" src="{% static 'searchCatalogue/images/no_image.png' %}">
                    {% endif %}
                </div>
            </div>
            <div class="tile-content">
                <div class="tile-content-abstract">
                    <div class="sub-tile-container">
                        <div class="data-info-container" title="{% trans 'Published datasets' %}" data-resource="dataset">
                            <i class="fas fa-globe icn-sub-tile"></i>
                            <span>{{ result.datasets|intcomma }}</span>
                        </div>
                        <div class="data-info-container" title="{% trans 'Published layers' %}" data-resource="wms">
                            <i class="fas fa-layer-group icn-sub-tile"></i>
                            <span>{{ result.layers|intcomma }}</span>
                        </div>
                    </div>
                    <div class="sub-tile-container">
                        <div class="data-info-container" title="{% trans 'Published featuretypes' %}" data-resource="wfs">
                            <i class="fas fa-info-circle icn-sub-tile"></i>
                            <span>{{ result.featuretypes|intcomma }}</span>
                        </div>
                        <div class="data-info-container" title="{% trans 'Published wmcs' %}" data-resource="wmc">
                            <i class="fas fa-map icn-sub-tile"></i>
                            <span>{{ result.wmcs|intcomma }}</span>
                        </div>
                    </div>
                    <hr>
                    <div class="tile-content-abstract-text">
                        {{ result.description|safe }}
                    </div>
                </div>
            </div>
        </div>

    {% endfor %}

</div>

{% endblock %}