{% load i18n static %}
<div>
    <div class="headline">
        {% trans 'Search for:' %}
    </div>
    {% for sugg in data_suggestions %}
        <div class="suggestion" >
            <div class="suggestion-item">
                {{ sugg.keywordHigh|safe }}
            </div>
            <div class="suggestion-copy" title="{% trans 'Copy to search' %}">
                <i class="far fa-copy"></i>
            </div>
        </div>
    {% empty %}
        <div>
            -
        </div>
    {% endfor %}
    <div class="headline">
        {% trans 'Locations:' %}
    </div>
    {% for sugg in location_suggestions %}
        <div class="location suggestion" data-location="{{ sugg.minx }},{{ sugg.miny }},{{ sugg.maxx }},{{ sugg.maxy }}" data-location-miny="{{ sugg.miny }}" data-location-minx="{{ sugg.minx }}" data-location-maxx="{{ sugg.maxx }}" data-location-maxy="{{ sugg.maxy }}">
            <div class="location-suggestion">
                <i class="fas fa-map-marker-alt"></i>
            </div>
            <div>{{ sugg.title }}</div>
        </div>
    {% endfor %}

</div>
