{% load i18n static %}
<div>
    <div class="headline">
        {% trans 'Search for:' %}
    </div>
    {% for sugg in data_suggestions %}
        <div class="suggestion" >
            {{ sugg.keywordHigh|safe }}
        </div>
    {% empty %}
        <div>
            -
        </div>
    {% endfor %}
    <div class="headline">
        {% trans 'Locations:' %}
    </div>
    {% for sugg in location_suggestions %}
        <div class="location suggestion" data-location-miny="{{ sugg.miny }}" data-location-minx="{{ sugg.minx }}" data-location-maxx="{{ sugg.maxx }}" data-location-maxy="{{ sugg.maxy }}">
            <i class="fas fa-map-marker-alt"></i>
            <span>{{ sugg.title }}</span>
        </div>
    {% endfor %}

</div>
