td{font-size:80%;font-family:arial}
h1{font-size:150%;margin:0 0 1em 0;color:#A60A21;font-family:arial}
h2{font-size:110%;margin:0 0 1em 0;color:#333;font-family:arial}
h3{font-size:90%;margin:0 0 1em 0;color:#333;font-family:arial}
p{font-size:80%;line-height:150%;margin:0 0 1em 0;font-family:arial}
dl{font-size:80%;font-family:arial}
ol,ul{font-size:80%;line-height:150%;margin:0 0 1em 0;font-family:arial}
ul li{margin:0 0 .5em 0;padding:0 0 0 2em;background:url(../images/bullet.gif) .75em .6em no-repeat;font-family:arial}
ol li{margin:0 0 .5em 2em;list-style:decimal;font-family:arial}


.contenttable-0{border-collapse:collapse;margin:0 0 1em 0}
.contenttable-0 caption{text-align:left;color:#333;font-weight:bold}
.contenttable-0 td{padding:.25em .5em}
.contenttable-0 p{margin:0}
.contenttable-0 .tr-even td{background:#E3E3E3}
.contenttable-0 .td-0{font-weight:bold}
.contenttable-0 .tr-0 td{background:#A60A21;color:#FFF;font-weight:bold}

.contenttable-0-wide{border-collapse:collapse;margin:0 0 1em 0;width:100%}
.contenttable-0-wide caption{text-align:left;color:#333;font-weight:bold}
.contenttable-0-wide td{padding:.25em .5em}
.contenttable-0-wide p{margin:0}
.contenttable-0-wide .tr-even td{background:#E3E3E3}
.contenttable-0-wide .td-0{font-weight:bold}
.contenttable-0-wide .tr-0 td{background:#A60A21;color:#FFF;font-weight:bold}

.contenttable-1{border-collapse:collapse;margin:0 0 1em 0}
.contenttable-1 caption{text-align:left;color:#333;font-weight:bold}
.contenttable-1 td{padding:.1em .2em;border:1px solid #A60A21}
.contenttable-1 p{margin:0}
.contenttable-1 .td-0{font-weight:bold;border-left:0}
.contenttable-1 .tr-0 td{background:#A60A21;color:#FFF;font-weight:bold}
.contenttable-1 .tr-last td{border-bottom:0}
.contenttable-1 .td-last{border-right:0}

.contenttable-1-wide{border-collapse:collapse;margin:0 0 1em 0;width:100%}
.contenttable-1-wide caption{text-align:left;color:#333;font-weight:bold}
.contenttable-1-wide td{padding:.1em .2em;border:1px solid #A60A21}
.contenttable-1-wide p{margin:0}
.contenttable-1-wide .td-0{font-weight:bold;border-left:0}
.contenttable-1-wide .tr-0 td{background:#A60A21;color:#FFF;font-weight:bold}
.contenttable-1-wide .tr-last td{border-bottom:0}
.contenttable-1-wide .td-last{border-right:0}
