
{% load static humanize i18n %}
<div class="search-cat {% if 'application' in search_results %} active {% endif %}">
    <h2 class="search-header" title="{% trans 'Applications' %}">
        <button class="source--title -js-title -js-accordion" aria-label="{% trans 'Open and close searchresults for ' %}{% trans 'Applications' %}">
            <span class="accordion icon closed" aria-hidden="true"></span>
            <i class="fas fa-cogs tab-icn" title="{% trans 'Applications' %}" aria-hidden="true"></i>
            <span>{{ all_resources.application }} ({{ search_results.application.application.application.md.nresults|intcomma }})</span>

        </button>
    </h2><!-- end .search-header -->
    <div class="application search--body hide">
        {% if search_results.application.keywords.tagCloud.tags|length > 0 and search_results.application.application.application.md.nresults|add:0 > 0 %}
            {% with search_results.application.keywords.tagCloud.tags as tags %}

                {% include 'keywords.html' %}
            {% endwith %}
        {% endif %}

        <div>
            <div class="center">
                {% if search_results.application.application.application.md.nresults|add:0 > 0 %}
                {% with pages.application as page_data %}
                    {% with 'application' as resource_name %}

                        {% include 'pagination.html' %}

                    {% endwith %}
                {% endwith %}
            </div>
            <div class="search-results">
                {% for result in search_results.application.application.application.srv %}
                {% include 'primary/application/application_search_result.html' %}
                {% endfor %}
            </div><!-- end .search-results -->

            {% else %}
            <p>
                {% trans 'No results found, please use another search term...' %}

            </p>
            </div>
            {% endif %}

            <div class="center">
                {% if search_results.application.application.application.md.nresults|add:0 > 0 %}
                {% with pages.application as page_data %}
                    {% with 'application' as resource_name %}

                        {% include 'pagination.html' %}

                    {% endwith %}
                {% endwith %}
                {% endif %}
            </div>
        </div><!-- end .div -->
    </div><!-- end .application .search--body -->
</div><!-- end .search-cat -->

