{% load i18n %}
<div class="filterarea -js-filterarea">
    <div>
        {% if is_de_search or is_eu_search %}
            <div class="filters-not-supported">
                {% trans 'Filter categories are not supported for this catalogue.' %}
            </div>
        {% endif %}
        {% if selected_facets.keys|length > 0 %}
        <div>
            <h4>{% trans 'Chosen Categories:' %}</h4>
            <div id="chosen-facets">
                {% for facet_key, facet_val in selected_facets.items %}
                <div class="single-chosen-facet">
                    <h5>{{ facet_key }}:</h5>
                    <div class="search--list -js-facet-list chosen-facet-items">
                        {% for sel_facet_key, sel_facet_val in selected_facets.items %}
                            {% for selected_facet in sel_facet_val %}
                                {% if selected_facet.parent_category == facet_key %}
                                    <span class="chosen-facet-item search--list--item -js-facet-item" data-id="{{ selected_facet.id }}" data-parent="{{ facet_key }}">
                                        {{ selected_facet.title }}
                                        <span class="icon-cross fs-10px"></span>
                                    </span>
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    </div>
                </div>
                {% endfor %}
            </div>
            <span class="filter-remover icon-cross fs-10px" title="{% trans 'Remove all filters' %}"></span>
        </div>
        {% endif %}
        <!-- Search tags -->
        <div>
            <a style="font-size:120%"><strong>{{ search_filters.searchText.title }}</strong></a>
            <div class="search--list -js-keywords" data-id='geoportal-'>
                {% for item in search_filters.searchText.item %}
                <span class="search--list--item -js-term">{{ item.title }}
                    <span class="icon-cross fs-10px"></span>
                </span>
                {% endfor %}
            </div>
        </div>


        <!-- Resource type
        {% if all_resources|length > 0 %}
        <div>
            <h4>{% trans 'Type of resource:' %}</h4>
            <div class="resource--list -js-resources">
                {% for resource_key, resource_val in all_resources.items %}
                    <span data-resource="{{ resource_key }}"
                          class="resource--list--item -js-resource {% if resource_key in resources %} inactive {% endif %}">{{ resource_val }}</span>
                {% endfor %}
            </div>
        </div>
        {% endif %}
        -->

        <!-- Spatial restrictions -->
        {% if search_filters.searchBbox|length > 0 %}
        <div>
            <h4>{{ search_filters.searchBbox.title }}</h4>
            <div class="search--list -js-facet-list">
                {% for item in search_filters.searchBbox.item %}
                    <span class="search--list--item -js-spatial-restriction">{{ item.title }}
                        <span class="icon-cross fs-10px"></span>
                    </span>
                {% endfor %}
            </div>
        </div>
        {% endif %}

    </div>


    {% include 'hits_and_sort_option.html' %}
</div><!-- end .filterarea -->
