{% load i18n %}
    <div>
        <a id="tou-close" class="close">X</a>
        {% autoescape off %}
        {{ content }}
        {% endautoescape %}
        <div class="tou_buttons">
            <a id="tou_button_accept" class="tou_button" data-params="" href="{{ href }}" target="_blank">
                <div>
                    {% trans 'Accept' %}
                </div>
            </a>
                <div id="tou_button_decline" class="tou_button">
                    {% trans 'Decline' %}
                </div>
        </div>
    </div>
