/* The main calendar widget.  DIV containing a table. */

div.calendar { position: relative; }
.calendar, .calendar table {
	border: 1px solid #AAA;
	font-size: 11px;
	color: #000;
	cursor: default;
	background: #FBFBFB;
	font-family: tahoma,verdana,sans-serif;
}

/* Header part -- contains navigation buttons and day names. */

.calendar .button { /* "<<", "<", ">", ">>" buttons have this class */
	text-align: center;    /* They are the navigation buttons */
	padding: 2px;          /* Make the buttons seem like they're pressing */
	font-weight: bold;
}

.calendar .nav {
	background: #F2F2F2 url(../menuarrow2.gif) no-repeat 100% 100%;
}

.calendar thead .title { /* This holds the current "month, year" */
	font-weight: bold;      /* Pressing it will take you to the current date */
	text-align: center;
	background-color: #F2F2F2;
	padding: 2px;
}

.calendar thead tr { /* Row <TR> containing navigation buttons */
	background-color: #F2F2F2;
}

.calendar thead .daynames { /* Row <TR> containing the day names */
	background-color: #FBFBFB;
}

.calendar thead .name { /* Cells <TD> containing the day names */
	border-top: 1px solid #CCC;
	border-bottom: 1px solid #CCC;
	padding: 2px;
	text-align: center;
	color: #000000;
}

.calendar thead .weekend { /* How a weekend day name shows in header */
	color: #AAA;
}

.calendar thead .hilite { /* How do the buttons in header appear when hover */
	background-color: #E7DBA8;
	padding: 1px;
}

.calendar thead .active { /* Active (pressed) buttons in header */
	background-color: #E7DBA8;
	padding: 2px 0px 0px 2px;
}

/* The body part -- contains all the days in month. */

.calendar tbody .day { /* Cells <TD> containing month days dates */
	width: 2em;
	color: #000000;
	text-align: right;
	padding: 2px 4px 2px 2px;
}
.calendar tbody .day.othermonth {
	font-size: 80%;
	color: #AAA;
}
.calendar tbody .day.othermonth.oweekend {
	color: #667B90;
}

.calendar table .wn {
	padding: 2px 3px 2px 2px;
	border-right: 1px solid #CCC;
	background-color: #FBFBFB;
}

.calendar tbody .rowhilite td {
	background-color: #FBFBFB;
}

.calendar tbody .rowhilite td.wn {
	background-color: #FBFBFB;
}

.calendar tbody td.hilite { /* Hovered cells <TD> */
	background-color: #E7DBA8;
	padding: 1px 3px 1px 1px;
}

.calendar tbody td.active { /* Active (pressed) cells <TD> */
	background: #E7DBA8;
	border: 1px solid #000000;
	padding: 2px 2px 0px 2px;
}

.calendar tbody td.selected, .calendar tbody .rowhilite td.selected { /* Cell showing today date */
	font-weight: bold;
	border: 1px solid #AAA;
	padding: 1px 3px 1px 1px;
}

.calendar tbody td.weekend { /* Cells showing weekend days */
	color: #AAA;
}

.calendar tbody .rowhilite td.weekend { /* Cells showing weekend days */
	color: #000;
}

.calendar tbody td.today, .calendar tbody .rowhilite td.today {
	font-weight: bold;
	color: #D2BE6A;
}

.calendar tbody .disabled {
	color: #AAA;
}

.calendar tbody .emptycell { /* Empty cells (the best is to hide them) */
	visibility: hidden;
}

.calendar tbody .emptyrow { /* Empty row (some months need less than 6 rows) */
	display: none;
}

/* The footer part -- status bar and "Close" button */

.calendar tfoot .footrow { /* The <TR> in footer (only one right now) */
	text-align: center;
	background-color: #FBFBFB;
}

.calendar tfoot .ttip { /* Tooltip (status bar) cell <TD> */
	background-color: #F2F2F2;
	border-top: 1px solid #CCC;
	padding: 1px;
}

.calendar tfoot .hilite { /* Hover style for buttons in footer */
	background-color: #E7DBA8;
	border: 1px solid #AAA;
	color: #ffffff;
	padding: 1px;
}

.calendar tfoot .active { /* Active (pressed) style for buttons in footer */
	background-color: #E7DBA8;
	padding: 2px 0px 0px 2px;
}

/* Combo boxes (menus that display months/years for direct selection) */

.calendar .combo {
	position: absolute;
	display: none;
	top: 0px;
	left: 0px;
	width: 4em;
	cursor: default;
	border: 1px solid #CCC;
	background-color: #FBFBFB;
	color: #000000;
	font-size: 90%;
	z-index: 100;
}

.calendar .combo .label,
.calendar .combo .label-IEfix {
	text-align: center;
	padding: 1px;
}

.calendar .combo .label-IEfix {
	width: 4em;
}

.calendar .combo .hilite {
	background-color: #E7DBA8;
	font-weight: bold;
}

.calendar .combo .active {
	border-top: 1px solid #CCC;
	border-bottom: 1px solid #CCC;
	color: #D2BE6A;
	font-weight: bold;
}

.calendar td.time {
	border-top: 1px solid #AAA;
	padding: 2px 0px;
	text-align: center;
	background-color: #FBFBFB;
}

.calendar td.time .hour,
.calendar td.time .minute,
.calendar td.time .ampm {
	padding: 0px 3px 0px 4px;
	border: none;
	font-weight: bold;
	background-color: #FFF;
}

.calendar td.time .ampm {
	text-align: center;
}

.calendar td.time .colon {
	padding: 0px 2px 0px 3px;
	font-weight: bold;
}

.calendar td.time span.hilite {
	border: 1px solid #AAA;
	background-color: #E7DBA8;
}

.calendar td.time span.active {
	border: 1px solid #AAA;
	background-color: #E7DBA8;
}
