/* SLIMBOX  PLUS by OrangeBread (http://www.lifewithpixel.com/ */

#lbOverlay {
	position: absolute;
	z-index: 9999;
	left: 0;
	width: 100%;
	background-color: #000;
	cursor: pointer;
}

#lbCenter, #lbBottomContainer {
	position: absolute;
	z-index: 9999;
	left: 50%;
	overflow: hidden;
	background-color: #fff;
}

.lbLoading {
	background: #fff url(../images/loading.gif) no-repeat center;
}

#lbImage {
	position: absolute;
	left: 0;
	top: 0;
	border: 10px solid #fff;
	background-repeat: no-repeat;
}

#lbPrevLink, #lbNextLink {
	display: block;
	position: absolute;
	top: 0;
	width: 50%;
	outline: none;
}

#lbPrevLink {
	left: 0;
}

#lbPrevLink:hover {
	background: transparent url(../images/prevlabel.gif) no-repeat 0% 15%;
	border-bottom: 0;
	outline: none;
}

#lbNextLink {
	right: 0;
}

#lbNextLink:hover {
	background: transparent url(../images/nextlabel.gif) no-repeat 100% 15%;
	border-bottom: 0;
	outline: none;
}

#lbBottom {
	font-family: Verdana, Arial, Geneva, Helvetica, sans-serif;
	font-size: 10px;
	color: #666;
	line-height: 1.4em;
	text-align: left;
	border: 10px solid #fff;
	border-top-style: none;
}

#lbCloseLink {
	display: block;
	float: right;
	width: 66px;
	height: 22px;
	background: transparent url(../images/closelabel.gif) no-repeat center;
	margin: 5px 0;
	outline: none;
}

#lbCloseLink:hover{ border-bottom: 0; outline: none; }

#lbCaption, #lbNumber {
	margin-right: 71px;
}

#lbCaption {
	font-weight: bold;
}

#lbPrintLink {
	display: block;
	float: right;
	width: 22px;
	height: 22px;
	background: transparent url(../images/sb_printicon.gif) no-repeat center;
	margin:0 5px 0 0; padding:1px;
}

#lbSaveLink {
	display: block;
	float: right;
	width: 22px;
	height: 22px;
	background: transparent url(../images/sb_saveicon.gif) no-repeat center;
	margin:0 5px 0 0; padding:1px;
}

#lbSaveLink:hover,
#lbPrintLink:hover {
	border: 1px solid #666;
	padding: 0px;
}