{% load static humanize i18n %}
<div class="search-cat {% if 'application' in search_results %} active {% endif %}">
    <div class="search-header">
        <div class="source--title -js-title -js-accordion">
            <img class="tab-icn" src="{% static 'searchCatalogue/images/icons/icn_application.png' %}" title="{% trans 'Applications' %}">
            {% trans 'Applications' %}
            ({{ application.md.nresults|intcomma }})
        </div>
    </div><!-- end .search-header -->

    <div class="application search--body hide">
        <div>
            <div class="center">
                {% if application.md.nresults|add:0 > 0 %}
                {% with pages.application as page_data %}
                    {% with 'application' as resource_name %}

                        {% include 'pagination.html' %}

                    {% endwith %}
                {% endwith %}
            </div>
            <div class="search-results">
                {% for result in application.srv %}
                    {% include 'other/search_result.html' %}
                {% endfor %}
            </div><!-- end .search-results -->

            {% else %}
            <p>
                {% trans 'No results found, please use another search term...' %}

            </p>
            </div>
            {% endif %}

            <div class="center">
                {% if application.md.nresults|add:0 > 0 %}
                {% with pages.application as page_data %}
                    {% with 'application' as resource_name %}

                        {% include 'pagination.html' %}

                    {% endwith %}
                {% endwith %}
                {% endif %}
            </div>
        </div><!-- end .div -->
    </div><!-- end .dataset .search--body -->
</div>