/* NEU FILTER CATEGORIES DESIGN */

.search-srvcat-main{font-weight:bold;font-size:1.28em;margin:15px 0 0 0 !important;}
.search-srvcat-main{list-style-type: none;padding:7px 35px;background: #f1f1f1 url(filter_gr25.png) 15px center no-repeat;border-top:1px solid #919191;border-bottom:1px solid #919191;background-size:12px;}
.search-adrcat ul li a {display:block;height:100%;width:100%;text-decoration:none;word-wrap:break-word;}
.search-srvcat-sub:hover{background: #e9e9e9 url(search_add_filter.png) no-repeat;background-position: 95% center;}
.search-srvcat-sub{list-style-type: none;padding:7px 25px 7px 15px;border-bottom:1px dotted #919191;margin:0 !important; }
.search-srvcat-more {cursor:pointer;display: inline-block;padding: 5px;margin:5px 5px;border:1px solid #919191;border-radius:5px;}
.search-srvcat-more:hover {background-color:#f1f1f1}
.search-srvcat-ul {margin:0 0 15px 0;}

