{% load static i18n %}
    <div class="search-result-action-buttons">
        {% if coupled_resources.view_links is not None %}
            <a class='button view-button' id="view_{{ coupled_resources.view_links.id }}">
                <img src="{% static 'searchCatalogue/images/icons/icn_show.png' %}">
                {% trans 'Show' %}
            </a>
        {% endif %}
        {% if coupled_resources.download_links is not None %}
            <a class='button download-button' target="_blank" href="{{ coupled_resources.download_links.uri }}">
                <img src="{% static 'searchCatalogue/images/icons/icn_download.png' %}">
                {% trans 'Download' %}
            </a>
        {% endif %}
    </div>
    <div class="search-result-actions">
        <div class="resource-list view_{{ coupled_resources.view_links.id }}" style="display:none;">
            <ul style="overflow: hidden;">
                    {% with coupled_resources.view_links as layer_data %}
                        {% with result as layer_info %}
                            {% include 'search_result_list_entry.html' %}
                        {% endwith %}
                    {% endwith %}
            </ul>
        </div>

        <div class="resource-list download_{{ coupled_resources.download_links.id }}" style="display:none;">
            <ul style="overflow: hidden;">
                <li class="resource-category-header">{% trans 'Download services' %}</li>
                {% for download in coupled_resources.download_links %}
                <li class="resource-element">
                    <a href="{{ download.uri }}" target="_blank" >
                        <div id="download_button_{{ download.id }}" class="feed-download">
                            <img src="{% static 'searchCatalogue/images/icons/icn_inspire_2018.png' %}" title="Inspire"/>
                            <strong>{{ download.title }}</strong>
                            <img class="feed-download-img" src="{% static 'searchCatalogue/images/icons/icn_download.png' %}" title="{% trans 'Download' %}"/>
                        </div></a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>