
@import 'color_schema.css';



.page-404-title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 24px;
    color: white;
}
.page-404-body{
    padding: 10px;
    text-align: center;
    color: white;
}

.page-404-container{
    margin: 20px;
    padding: 15px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: var(--primary);
}
.page-404-container:hover{
    cursor: default;
    background-color: red;
}
