.tile-content-abstract-text{
    max-height: 200px;
    overflow: auto;
}

.sub-tile-container{
    margin: 0 0 0.25em 0;
}

.icn-sub-tile, .icn-organization, .icn-metadata{
    opacity: 0.6;
    font-size: 2em;
}

.powered-by{
    position: absolute;
    top: -0.75em;
    width: 40%;
    border-radius: 100%;
    padding: 1em;
    right: -0.75em;
}

.applications a{
    text-decoration: none;
    width: 100%;
    color: var(--secondary-font);
}

.applications .data-info-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.metadata-link{
    padding: 10px;
}

.metadata-link:hover{
    /*
    Little trick: since we invert the colors here to make black icons white,
    we need to make all other colors inverted before, to display the correct ones
    */
    -webkit-filter: invert(1.0);
    filter: invert(1.0);
    color: black;
    background-color: var(--primary-invert);
    cursor: pointer;
}

.organization-title{
    margin: 0 0 0 1em
}