/**

    THIS IS THE STYLESHEET FILE FOR base.html
    ALL CHANGES SHOULD GO HERE!

**/


@import 'color_schema.css';


/*
CHANGE PLACEHOLDER COLORS
*/
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--secondary-placeholder);
  text-align: center;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: var(--secondary-placeholder);
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: var(--secondary-placeholder);
}

*{font-family:arial,helvetica,candara;}

html{
    height: 100%;
    font-family: sans-serif;
}

body{
    margin: 0;
    /*
    background-color: var(--secondary-light);
    */
    height: 100%;
    position: relative;
}

.body-content{
    min-height: 800px;      /* ToDO: As long as the iframe mapviewer is used, we need to provide a minimum height for the body content */
    background-color: white;
    /*
    min-width: 60%;
    max-width: 70%;
    */
    /*width: 70%;*/
    transition-duration: 0.8s;
    padding: 1em 3em 1em 3em;
    color: var(--secondary-font);
    /*
    margin: 0 200px 0 200px;
    */
}
.body-content.sidebar-open{
    transform: translateX(200px);
    margin-right: 200px;
}

footer{
    border-top: 5px solid var(--primary);
    padding: 20px;
    background-image: linear-gradient(var(--secondary), white);
    display: flex;
    justify-content: space-evenly;
}


#logo_geoportal{
    max-height: 50px;
}
#logo_gdi{
    max-height: 100px;
    max-width: 100%;
    height: auto;
}

#logo_country{
    max-height: 75px;
}

.cookie-container{
    z-index: 100;
    position: fixed;
    font-size: 1.2em;
    bottom: 0;
    min-height:200px;
    width: 100%;
    background-image: linear-gradient(var(--secondary), white);
    color: var(--primary);
    padding: 10px;
    -webkit-box-shadow: 0px -20px 45px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px -20px 45px 0px rgba(0,0,0,0.5);
    box-shadow: 0px -20px 45px 0px rgba(0,0,0,0.5);
    text-align: center;
    opacity: 0.95;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.cookie-text{
    padding: 30px;
}

.cookie-button{
    max-width: 400px;
}

.image-text-container{
    display: flex;
    align-items: center;
}

.show{
    display: block;
}

.header{
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items:center;
    background-image: linear-gradient(to bottom left, white, var(--secondary));
    border-bottom: 5px solid var(--primary);
    /*background-color: var(--secondary);*/
}

/* FOR MOBILE USERS */
@media only screen and (max-width: 1000px){
    .body-content{
        margin: 0 0 0 0;
        padding: 20px;
    }
    #logo_country{
        width: 100%;
    }
    #logo_geoportal{
        width: 100%;
    }
}

.left-header{
    display: flex;
    justify-content: center;
    /*
    flex-grow: 1;
    */
    padding: 0 4em 0 2em;
}

.middle-header{
    display: block;
    flex-grow: 5;
}

.middle-header-top{
    display: flex;
    justify-content: center;
    position:relative;
}

.sticky-top{
    min-width: 50vw;
    z-index: 5;
    position: fixed;
    top: 0;
    left: 25%;
	-webkit-filter: drop-shadow(0 5px 2px rgba(0,0,0,.5));
	-moz-filter:    drop-shadow(0 5px 2px rgba(0,0,0,.5));
	-ms-filter:     drop-shadow(0 5px 2px rgba(0,0,0,.5));
	-o-filter:      drop-shadow(0 5px 2px rgba(0,0,0,.5));
	filter:         drop-shadow(0 5px 2px rgba(0,0,0,.5));
}

.right-header{
    flex-grow: 1;
}

.upper-header{
    position: absolute;
    top: 0;
    right: 0;
    margin: 5px;
}

.right-header-bottom{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    margin: 10px 20px 0 0;
}


.sub-header-wrapper{
    padding: 5px 0 10px 0;
    margin: 0 0 10px 0;
}

.inline {
  margin: 10px 0 0 4px;
  display: inline-block;
  position: relative; }

.simple-search-field{
    font: inherit;
    width: 100%;
    color: #000;
    border: 0px solid;
    background-color: #fff;
    border-radius: 0px;
    height: 50px;
    line-height: 40px;
    padding: 0 10px 0 10px;
}

.simple-search-field:focus{
    border-color: var(--primary);
    box-shadow: 0 0 10px var(--primary);
}

.search-submit-button{
    display: flex;
    align-items: center;
    background-color: var(--primary);
    color: white;
    padding: 0.5em;
    font-size: 1.5em;
}
.search-submit-button:hover{
    background-color: var(--primary-hover);
    cursor: pointer;
}

#geoportal-search-button-icon{
    width: 2em;

}

.simple-search-autocomplete {
    box-shadow: 0px 5px 5px 0px var(--primary);
    border-left: 1px solid #d5d5d5;
    border-right: 1px solid #d5d5d5;
    border-bottom: 1px solid #d5d5d5;
    background-color: #fff;
    width: 100%;
    position: absolute;
    top: 40px;
    display: none;
    z-index: 3;
  }

.simple-search-autocomplete div {
    width: 100%;
    overflow: hidden;
    padding: 10px;
    display: block;
    box-sizing: border-box;}

.simple-search-autocomplete .headline{
    font-weight: bold;
}

.simple-search-autocomplete .suggestion{
    cursor: pointer;
    font-size: 0.9rem;
    color: var(--primary);
}

.simple-search-autocomplete .suggestion:hover, .simple-search-autocomplete .suggestion.active{
  background-color: var(--primary);
  color: white;
  }

.simple-search-autocomplete.active {
  display: block; }

/* LANGUAGE SELECTOR */
.flag-selector{
    -ms-filter: grayscale(1);
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
}


.flag-selector:hover{
    opacity: 0.5;
    cursor: pointer;
}
.active-language{
    -ms-filter: grayscale(0);
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.icn-organization,
.icn-date,
.icn-licence,
.icn-download,
.icn-file,
.icn-show,
.icn-rss,
.icn-twitter,
.icn-ask-permission,
.icn-logging,
.icn-locked,
.icn-price,
.icn-network-restricted{
    font-size: 1.5em;
    padding: 0 0.5em 0 0;
}

.icn-single{
    padding: unset;
}

.icn-licence.error{
    color: var(--error-red);
}

.metadata-link-element:hover .icn-licence.error{
    color: white;
}

.mapbender{
    opacity: 1;
    display: flex;
    justify-content: center;

}

.map-viewer-overlay{
    width: 100%;
    height: 100%;
    background-color: #e2e2e2;
    position: absolute;
    margin: 0;
    /*
    top: 150px;
    */
    z-index: 1;
    display: none;
}

#mapviewer{
    margin: 50px;
}
#mapviewer-external{
    width: 100%;
    height: 600px;
}

.map-viewer-toggler{
    drop-shadow: 0px 0px 0px;
    position: absolute;
    top: 150px;
    right: 0px;
    z-index: 2;

    background-color: var(--primary);
    font-size: 2.0em;
    color: white;
    padding: .5em;
    border-radius: 0 0 0 0.75em;
}

.map-viewer-toggler img, .sidebar-toggler img{
    background-color: var(--primary);
    padding: 0.1em;
    border-radius: 100%;
    width: 3em;
}

.map-viewer-selector, .map-applications-toggler{
    margin: 0.75em 0 0 0;
    background-color: var(--primary);
    font-size: 1.50em;
    color: white;
    padding: .5em;
    border-radius: 0.75em 0 0 0.75em;
    width: 2.5em;
}

.map-viewer-selector:hover, .map-applications-toggler:hover{
    cursor: pointer;
	-webkit-filter: drop-shadow(0 5px 2px rgba(0,0,0,.5));
	-moz-filter:    drop-shadow(0 5px 2px rgba(0,0,0,.5));
	-ms-filter:     drop-shadow(0 5px 2px rgba(0,0,0,.5));
	-o-filter:      drop-shadow(0 5px 2px rgba(0,0,0,.5));
	filter:         drop-shadow(0 5px 2px rgba(0,0,0,.5));
}

.map-sidebar{
    position: absolute;
    top: 50px;
    right: -2em;
    transition: all 0.25s ease-in-out;
}

.map-sidebar.open{
    transform: translateX(-2.0em);
}

.map-applications-toggler{
    margin: 5px 0 0 0;
}
.map-sidebar-actions{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.map-applications-list, .map-viewer-list{
    display: none;
}
.map-applications-list-entry, .map-viewer-list-entry{
    color: white;
    font-weight: bold;
    padding: 0.5em;
    margin-top: 0.25em;
    background-color: var(--primary-light);
    border-radius: 0.75em 0 0 0.75em;
}
.map-applications-list-entry:hover, .map-viewer-list-entry:hover {
    background-color: var(--primary-light-hover);
    cursor: pointer;
}

.quickstart-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 85vw;
    margin: auto;
}

.quickstart{
    height: 6em;
    display: flex;
    align-items: space-between;
    flex-direction: column;
    margin: 0.5em;
    background-color: var(--secondary);
    color: var(--primary);
    font-size: 1.05em;
    padding: 20px;
    font-weight: bold;
    text-decoration: none;
    transition: all 0.1s ease-in-out;
    flex-grow: 1;
}

.quickstart:hover{
    transform: scale(1.05);
    box-shadow: 0 0 10px var(--primary);
    cursor: pointer;
}

.quickstart-header{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
}

.quickstart-body{
    font-size: 2em;
    font-weight: bold;
    padding: 0 1em 0 1em;
    margin: auto;
}

.quickstart-header i{
    margin: 0 20px 0 0;
    font-size: 1.5em;
}

.landing-page-headline{
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid var(--primary);
    font-size: 1.5em;
    font-weight: bold;
    margin: 1em 0 0 0;
    color: var(--primary);
}
.landing-page-headline h2{
    margin: 0;
    text-align: center;
}

.sidebar-toggler{
    drop-shadow: 0px 0px 0px;
    position: absolute;
    top: 150px;
    left: 0px;
    z-index: 2;
    background-color: var(--primary);
    font-size: 2.0em;
    color: white;
    padding: .5em;
    border-radius: 0 0 0.75em 0;
}


.sidebar-toggler:hover, .map-viewer-toggler:hover{
    transform: scale(1.05);
    transition: all 0.1s ease-in-out;
    cursor: pointer;
	-webkit-filter: drop-shadow(0 5px 2px rgba(0,0,0,.5));
	-moz-filter:    drop-shadow(0 5px 2px rgba(0,0,0,.5));
	-ms-filter:     drop-shadow(0 5px 2px rgba(0,0,0,.5));
	-o-filter:      drop-shadow(0 5px 2px rgba(0,0,0,.5));
	filter:         drop-shadow(0 5px 2px rgba(0,0,0,.5));
}

.sidebar-wrapper {
    background-color: var(--primary);
    /* background-image: linear-gradient(var(--primary), white); */
    list-style-type: none;
    width: 200px;
    margin: 0;
    position: absolute;
    left: 0px;
    overflow-x: hidden;
    overflow-y: visible;
    z-index: 1;
    transition-duration: 0.8s;
    transform: translateX(0px);
}
.sidebar-wrapper.closed{
    transform: translateX(-200px);
}

.sidebar-content{
    text-align: center;
    width: 100%;
    margin-top: 0px;
    color: white;
}
.sidebar-content a{
    color: white;
    outline: none;
    text-decoration: none;
}

.sidebar-title{
    text-align: center;
    font-weight: bold;
    color: white;
    padding: 1.25em;
    font-size: 20px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.sidebar-area-title{
    display: flex;
    align-items: center;
    /*justify-content: space-evenly;*/
    font-weight: bold;
    background-color: var(--primary-light);
    padding: 20px;
}

.sidebar-area-title-text{
    text-align: left;
    padding: 0 0 0 20px;
    width: 100%;
    height: 100%;
    overflow-wrap: break-word;
    box-sizing: border-box;
    min-width: 140px;
}

.sidebar-area-title:hover{
    cursor: pointer;
    background-color: var(--primary-light-hover);
    color: white;
}

.sidebar-area-content{
    display: none;
    overflow-wrap: break-word;
}

.sidebar-area-content > div{
    background-color: var(--primary-light);
    font-weight: bold;
    padding: 10px 0 10px 0;
}

.sidebar-area-content > a{
    outline: none;
    text-decoration:none;
    color: white;
}

.sidebar-list-element{
    color: white;
    padding: 15px 0px 15px 15px;
    cursor: pointer;
    text-align: left;
}

.current-page{
    background-color: var(--primary-light-hover);
    color: white;
    /*
    padding: 15px 0 15px 45px;
    */
}

.sidebar-list-element:hover{
    text-decoration: none;
    background-color: var(--primary-light-hover);
    color: white;
}

.sidebar-area-title-icon{
    font-size: 2.0em;
    color: white;
}


#map-viewer-selector{
    display: none;
}

.footer-col-wrapper{
    display: flex;
    justify-content: center;

}
.footer-col{
    align-items: flex-start;
    margin: 0 40px 0 40px;
}

.footer-col > h6{
    color: var(--primary);
    font-weight: bold;
}

.footer-list{
    list-style-type: none !importan;
}

.footer-col a{
    text-decoration: none;
    color: var(--secondary-placeholder);
}
.footer-col a:hover{
    color: var(--primary);
}

.search-form-text-input{
    width: 100%;
}

/* MESSAGES */
.messages-container{
    display: none;
    position: absolute;
    right: 0;
    left: 0;
    margin: 0 10rem;
    z-index: 3;
}
.messages{
    width: 100%;
    -ms-filter: drop-shadow(2px 2px 2px black);
    -webkit-filter: drop-shadow(2px 2px 2px black);
    filter: drop-shadow(2px 2px 2px black);
    padding: 0 0 0 15px;
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
    border-radius: 0.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 45px;
}

.message-toggler{
    padding: 10px;
    color: white;
    font-weight: bold;
    border-radius: 0.25rem;
    border: 2px solid white;
    position: absolute;
    right: 0;
}
.success .message-toggler{
    background-color: var(--success-green);
}
.success .message-toggler:hover{
    border: 2px solid var(--success-green);
    background-color: white;
    color: var(--success-green);
}
.error .message-toggler{
    background-color: var(--error-red);
}
.error .message-toggler:hover{
    border: 2px solid var(--error-red);
    background-color: white;
    color: var(--error-red);
}

.message-toggler:hover{
    cursor:pointer;
}

.messages.success {
    background-color: var(--success-green);
}
.messages.error {
    background-color: var(--error-red);
}
.messages.success:hover, .messages.error:hover{
    cursor: default;
}


@media screen and (max-width: 700px){

    #logo_gdi{
        display: none;
    }

    .body-content{
        padding: 5em 5vw 0 5vw;
    }

    header{
        font-size: 1em;
    }

    .left-header{
        padding: 0 3em 0 0;
    }

    .middle-header{
        margin: 3em 0;
    }

    .sticky-top{
        min-width: 100vw;
        left: 0;
        margin: 0 0 0 0;
    }

    #geoportal-search-field{
        height: 4em;
    }

    #middle-header-bottom{
        display: none;
    }

    #sidebar{
        font-size: 1.25em;
        width: 15rem;
    }
    .sidebar-list-element{
        font-size: 0.9em;
    }

    .body-content.sidebar-open{
        transform: unset;
        margin-right: unset;
    }

    .sidebar-toggler img, .map-viewer-toggler img, .map-viewer-selector img{
        width: 3.5em;
    }

    .sidebar-area-title-icon{
        font-size: 1.5em;
        color: white;
    }

    .sidebar-title{
        font-size: 1em;
    }

    .quickstart-container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 90vw;
        flex-wrap: unset;
    }

    .quickstart{
        font-size: 1em;
        width: 80vw;
    }

    .quickstart:hover{
        transform: unset;
    }

    .quickstart-header{
        font-size: 1.5em;
    }

    footer{
        font-size: 1.25em;
    }
    .footer-col-wrapper{
        flex-direction: column;
    }
    .right-footer{
        display: none;
    }
    #footer-legal{
        margin: 0 0 1em 0;
    }
    #footer-news-api{
        margin: 0;
    }

    .sidebar-wrapper.closed{
        transform: translateX(-75vw);
    }

    .cookie-container{
        position: absolute;
        z-index: 100;
        top: 0;
        bottom: unset;
    }

    .mobile-advice{
        font-weight: bold;
    }

}