/**

    THIS IS THE STYLESHEET FILE FOR base.html
    ALL CHANGES SHOULD GO HERE!

**/


@import 'color_schema.css';


/*
CHANGE PLACEHOLDER COLORS
*/
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--secondary-placeholder);
  text-align: center;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: var(--secondary-placeholder);
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: var(--secondary-placeholder);
}

*{font-family:arial,helvetica,candara;}

html{
    height: 100%;
    font-family: sans-serif;
}

body{
    margin: 0;
    height: 100%;
    position: relative;
}

/* keyboard usability outline focus-visible */
.quickstart.search:focus-visible, .quickstart:focus-visible, .footer-list a:focus-visible, .left-header a:focus-visible, nav a:focus-visible, .hessenlogotab:focus-visible, input#geoportal-search-field:focus-visible, .nobuttoncss:focus-visible, input[type="checkbox" i]:focus-visible{ 
    outline: solid .125rem #f1b709;
}

input#geoportal-search-field:focus-visible, #geoportal-search-button:focus-visible{
    outline-offset: -5px;
}

.nobuttoncss{
    background: none;
    border: none;
}

.mw-parser-output{padding-top:1px;}

.body-content{
    min-height: 1200px;      /* ToDO: As long as the iframe mapviewer is used, we need to provide a minimum height for the body content */
    background-color: white;
    transition-duration: 0.8s;
    padding: 1em 3em 1em 3em;
    color: var(--hesse-grey);
    border-right: 15px solid transparent;
    border-left: 15px solid transparent;
}

body.mapviewer-opened{
    max-height:100%;
    overflow:hidden;
}

.body-content.sidebar-open{
    transform: translateX(315px);
    margin-right: 315px;
}

footer{
    background-color: var(--hesse-grey);
    display: flex;
    position:sticky;
    bottom:0px;
    z-index:1;
    font-size: 0.9em;
    text-transform: uppercase;
    letter-spacing: 0.02em;
    clear:both;
}


#logo_geoportal{
    width: 50%;
    background-color:white;
    padding:10px 25%;
}

#logo_country{
    max-height: 75px;
}

#id_identity{
    visibility:hidden;
}

label[for=id_identity]{
    visibility:hidden;
}

.cookie-container{
    z-index: 100;
    position: fixed;
    font-size: 0.9em;
    top: 0px;
    height:122px;
    width: 100%;
    background-image: linear-gradient(var(--secondary), white);
    color: var(--primary);
    padding: 10px 20px;
    -webkit-box-shadow: 0px -20px 45px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px -20px 45px 0px rgba(0,0,0,0.5);
    box-shadow: 0px -20px 45px 0px rgba(0,0,0,0.5);
    text-align: center;
    opacity: 0.95;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
}

.cookie-text{
    padding: 20px;
}

.cookie-button{
    max-width: 400px;
}

.image-text-container{
    display: flex;
    align-items: center;
}

.visible{
    visibility:visible !important;
}

.show{
    display: block;
}

.header{
    height: 143px;
    display: flex;
    justify-content: space-between;
    /**border-bottom: 1px solid #e2e2e2;
    background-color: var(--secondary);**/
}

.popup-search {
 position: relative;
 display: inline-block;
 cursor: pointer;
}

.popup-search .popuptext-search {
 visibility: hidden;
 width: 180px;
 font-size: 15px;
 font-family: arial,helvetica;
 font-weight: bold;
 background-color: var(--secondary);
 color: var(--secondary-font);
 border-color: var(--primary);
 border-style: solid;
 text-align: center;
 border-radius: 0.5px;
 position: absolute;
 bottom: 10%;
 right: 50px;
 margin-left: -150px;
}

/* Popup arrow */
.popup-search .popuptext-search::after {
 content: "";
 position: absolute;
 right: -15px;
 top: 10px;
 margin-left: -5px;
 border-width: 8px;
 border-style: solid;
 border-color: transparent var(--primary) transparent transparent;
}

.popup-search .show-popup {
  visibility: hidden;
  animation: fade 3s cubic-bezier(0,2.07,.58,2.07);
}

.popup-landing {
 position: relative;
 display: inline-block;
 cursor: pointer;
}

.popup-landing .popuptext-landing {
 visibility: hidden;
 width: 180px;
 font-size: 15px;
 font-family: arial,helvetica;
 font-weight: bold;
 background-color: var(--secondary);
 color: var(--secondary-font);
 border-color: var(--primary);
 border-style: solid;
 text-align: center;
 border-radius: 0.5px;
 position: absolute;
 top: 125%;
 left: 154%;
 margin-left: -150px;
}

/* Popup arrow */
.popup-landing .popuptext-landing::after {
 content: "";
 position: absolute;
 bottom:110%;
 left: 56%;
 margin-left: -5px;
 border-width: 8px;
 border-style: solid;
 border-color: var(--primary) transparent transparent transparent;
 transform: rotate(180deg);
}

.popup-landing .show-popup {
  visibility: hidden;
  animation: fade 3s cubic-bezier(0,2.07,.58,2.07);
}


@keyframes fade {
  0%,100% { visibility: hidden; }
  50% { visibility: visible; }
}

.share-button{
  padding-left: 10px;
    opacity: 0.75;
    font-size: 2em;
    padding: 0 0.25em;
}
.share-button:hover{
    opacity: 1;
    color: var(--primary);
    cursor: pointer;
}

.lower-header {
    position:absolute;
    width:258px;
    box-sizing:border-box;
    margin-top: 48px;
    background-color: #0362b9;
    text-indent: 77px;
    height: 38px;
    line-height: 38px;
    color: #fff;
    font-size: 16px;
    border-left: 15px solid #e2e2e2;
    border-right: 15px solid #e2e2e2;
    z-index:1;
}

/* FOR MOBILE USERS */
@media only screen and (max-width: 1000px){
    .body-content{
        margin: 0 0 0 0;
        padding: 20px;
    }
    #logo_country{
        width: 100%;
    }
    #logo_geoportal{
        width: 50%;
        background-color:white;
        padding:10px 25%;
    }
}

.left-header{
    display: flex;
    padding: 0px 30px;
    align-items: center;
    width: 25%;
}

.navbar-brand-and-site-name{
    display:flex;
    font-size: 1.75rem;
    font-weight: bold;
    font-family: "RocGroteskBold",sans-serif;
    line-height: 1;
    letter-spacing: -1px;
    white-space: normal;
    margin-left: .25rem;
    color: var(--primary);
    text-decoration: none;
    align-items: center;
}

.navbar-brand-and-site-name svg {
    width: 3.75rem;
    height: 3.75rem;
}


.navbar-brand-and-site-name > svg > path {
    fill: #137673 !important;
}

.site-name-container{
    padding: 0 0 0 15px;
}

.site-name-prefix{
    color: #137673;
}
.site-name-prefix, .site-name{
    display:block;
}

#logo_gdi{
    max-height: 100px;
    max-width: 56px;
    height: auto;
}


.searchbar-container{
    display: flex;
    padding: 0px 2.5rem 0px 0px;
    flex-direction: column;
    width: 100%;
    max-width: 700px;
}
.middle-header{
    display: flex;
    width: 75%;
}

.middle-header-top{
    display: flex;
    justify-content: center;
    position:relative;
    border: 1px solid var(--primary);
}

.sticky-top{
    min-width: 50vw;
    z-index: 5;
    position: fixed;
    top: 0;
    left: 25%;
	-webkit-filter: drop-shadow(0 5px 2px rgba(0,0,0,.5));
	-moz-filter:    drop-shadow(0 5px 2px rgba(0,0,0,.5));
	-ms-filter:     drop-shadow(0 5px 2px rgba(0,0,0,.5));
	-o-filter:      drop-shadow(0 5px 2px rgba(0,0,0,.5));
	filter:         drop-shadow(0 5px 2px rgba(0,0,0,.5));
    background-color: white;
}

.right-header{
    height: 76px;
    padding-left:153px;
}

.upper-header{
    position: absolute;
    top: 0;
    right: 0;
    margin: 5px 24px 5px 5px;
}

.upper-header a{
    background: url(/mediawiki/resources/src/mediawiki.skinning/images/external-ltr.png?bbaf6) no-repeat;
    background-position: right 5px bottom 50%;
    color: #555;
    font-size: 13px;
    display: inline-block;
    padding-right: 20px;
    font-weight: 700;
    border-right:1px solid lightgrey;
}

.right-header-bottom{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    margin: 10px 20px 0 0;
}


.sub-header-wrapper{
    padding: 5px 0 10px 0;
    margin: 0 0 10px 0;
}

.inline {
  margin-top: 5px;
  display: block;
  position: relative;
}

.hand{
    cursor: pointer;
}

.simple-search-field{
    font: inherit;
    width: 100%;
    color: #000;
    border: 0px solid;
    background-color: #fff;
    border-radius: 0px;
    height: 50px;
    line-height: 40px;
    padding: 0 10px 0 10px;
    margin: 1px 0px 0px 0px;
}

.spatial-search-text{
    visibility:hidden;
    font-size: 0.7em;
    padding: 25px 5px 5px 5px;
}

.hidden{
    display:none;
}

.spatial-submit-button{
    color:  var(--hesse-green);
    padding: 0.4em;
    font-size: 1.5em;
    border-right: 1px solid var(--primary);
    display: inherit;
}

.spatial-submit-button label{
    display: flex;
    align-items: center;
}

.spatial-submit-button label i {
    padding: 0 10px 0 0;
}

.hand{
    cursor: pointer;
}

.middle-header-top:focus-within{
    border-color: var(--primary);
    box-shadow: 0 0 10px var(--primary);
}

.search-submit-button{
    font-size: 20px;
    padding:0.5em 0.5em;
    color: var(--hesse-green);
    border-left: 1px solid var(--primary);
    margin: 2px 0px;
}
.search-submit-button i{
    color: inherit;
}

.search-submit-button:hover{
    cursor: pointer;
}

#geoportal-search-button-icon{
    width: 2em;

}

.simple-search-autocomplete {
    box-shadow: 0px 5px 5px 0px var(--primary);
    border-left: 1px solid #d5d5d5;
    border-right: 1px solid #d5d5d5;
    border-bottom: 1px solid #d5d5d5;
    background-color: #fff;
    position: relative;
    display: none;
    z-index: 3;
  }

.simple-search-autocomplete div {
    width: 100%;
    overflow: hidden;
    padding: 10px;
    display: block;
    box-sizing: border-box; }

.simple-search-autocomplete > div {
    overflow-y: auto;
    overflow-x: hidden;
    max-height: calc(100vh - 150px);
}

.simple-search-autocomplete .headline,.simple-search-autocomplete .suggestion {
    padding:0;
}


.simple-search-autocomplete .headline{
    font-weight: bold;
    margin-top: 20px;
}

.simple-search-autocomplete .headline:nth-child(1) {
    margin-top: 0;
}

.simple-search-autocomplete .suggestion{
    display: flex;
    cursor: pointer;
    font-size: 0.9rem;
    color: var(--primary);
    border-bottom: 1px solid var(--secondary);
}

.simple-search-autocomplete .location-suggestion{
    width: auto;
}

.simple-search-autocomplete .suggestion-copy{
    float: right;
    padding: 0.5rem 0.5rem;
    border-radius: 50%;
    text-align: center;
    width: auto;
    height:100%;
    transform: rotate(-45deg);
}

.simple-search-autocomplete .suggestion:hover,
.simple-search-autocomplete .suggestion.active{
    background-color: var(--primary);
    color: white;
    }

.simple-search-autocomplete .suggestion-copy:hover{
    background-color: white;
    color: var(--primary);
    width: 2rem;
    height: 2rem;
}

.simple-search-autocomplete.active {
  display: block; }

.simple-search-autocomplete:not( :hover ) {
  display: none; }

.empty-search-button:hover{
    cursor: pointer;
}

.empty-search-button{
    display: none;
    align-items: center;
    background-color: white;
    color: var(--hesse-grey);
    font-size: 1.2em;
    height: 40px;
    width: 50px;
    margin: 6px 5px 5px -47px;
    justify-content: space-around;
}

/* LANGUAGE SELECTOR */
.flag-selector{
    -ms-filter: grayscale(1);
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
}


.flag-selector:hover{
    opacity: 0.5;
    cursor: pointer;
}
.active-language{
    -ms-filter: grayscale(0);
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.icn-organization,
.icn-date,
.icn-licence,
.icn-download,
.icn-file,
.icn-show,
.icn-rss,
.icn-twitter,
.icn-ask-permission,
.icn-logging,
.icn-locked,
.icn-price,
.icn-network-restricted{
    font-size: 1.5em;
    padding: 0 0.5em 0 0;
}

.icn-single{
    padding: unset;
}

.icn-licence.error{
    color: var(--error-red);
}

.icn-link{
    color: #fff;
    font-size: 0.6em;
    margin:-2px 0 0 10px;
}

.easy-to-read {
    background-image: url(/static/useroperations/images/icon-book.svg);
    background-repeat: no-repeat;
    width: 20px;
    height: 23px;
    margin:0 -0.5em 0 20px;
}

.accessibility {
    background-image: url(/static/useroperations/images/icon-accessibility.svg);
    background-repeat: no-repeat;
    width: 20px;
    height: 23px;
    margin:0 -0.5em 0 20px;

}

.metadata-link-element:hover .icn-licence.error{
    color: white;
}

.mapbender{
    opacity: 1;
    display: flex;
    margin: 2.5rem;
    border: 2px solid var(--hesse-green);
}

.map-viewer-overlay{
    width: 100%;
    height: 100%;
    background-color: white;
    position: absolute;
    margin: 0;
    z-index: 1;
    display: none;
}

#mapviewer{
    min-height: calc(100vh - 256px);
    max-height: calc(100vh - 256px);
}
#mapviewer-external{
    width: 100%;
    height: 600px;
}

.map-viewer-toggler {
    margin: 0 30px 0 15px;
}

.map-viewer-toggler:hover{cursor:pointer;}

.map-viewer-toggler img, .sidebar-toggler img{
    background-color: var(--primary);
    padding: 0.1em;
    border-radius: 100%;
    width: 3em;
}

.map-viewer-toggler.nobackbutton {
    display: none;
}

.map-viewer-selector, .map-applications-toggler{
    font-size: 1em;
    color: var(--hesse-green);
    font-weight: bold;
}

.map-viewer-selector a, .map-applications-toggler a{
    text-decoration: none;
    color: inherit; 
}

.map-viewer-selector a:hover, .map-applications-toggler a:hover{
    text-decoration: underline;
    text-underline-offset: 4px;
}

.map-viewer-selector i, .map-applications-toggler i{
    padding-right: 12px;
}

.map-applications-toggler{
}

.map-viewer-selector:hover, .map-applications-toggler:hover{
    cursor: pointer;
}

.map-application-selector{
    margin-left: 2rem;
}

.map-sidebar{
    position: absolute;
    top: -12px;
    transition: all 0.25s ease-in-out;
    padding: 1rem 1rem 1rem 1.15rem;
}

.map-viewer-selector.open, .map-applications-toggler.open{
    background-color: var(--hesse-lightblue);
    display: block;
    padding: 1rem 1rem 1rem 1.15rem;
    margin: -1rem -1rem -1rem -1.15rem;
}

.map-sidebar-actions{
    display: flex;
    /**align-items: flex-end;**/
}
.map-applications-list, .map-viewer-list{
    display: none;
    /**position: absolute;
    top: 54px;
    right:0px;*/
    max-height: calc(100vh - 265px);
    overflow-y: auto;
    overflow-x: hidden;
}
.map-applications-list, .map-viewer-list{
    padding: 1rem;
}
.map-applications-list-entry, .map-viewer-list-entry{
    color: white;
    font-weight: bold;
    padding: 0.5em;
    margin-top: 0.25em;
    background-color: var(--hesse-green);
}
.map-applications-list-entry:hover, .map-viewer-list-entry:hover {
    background-color: var(--hesse-blue);
    cursor: pointer;
}

.mapviewer-opened-force-scroll {
    max-height: calc(100% - 193px);
    }

.quickstart-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 85vw;
    margin: auto;
}

.quickstart{
    display: flex;
    align-items: space-between;
    flex-direction: column;
    margin: 1em;
    background-color: var(--hesse-lightblue);
    color: var(--primary);
    font-size: 1.05em;
    padding: 20px;
    font-weight: bold;
    text-decoration: none;
    transition: all 0.1s ease-in-out;
    flex-grow: 1;
}

.quickstart:hover{
    transform: scale(1.05);
    box-shadow: 0 0 10px var(--primary);
    cursor: pointer;
}

.quickstart-header{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
}

.quickstart-body{
    font-size: 2em;
    font-weight: bold;
    padding: 0 1em 0 1em;
    margin: auto;
}

.quickstart-header i{
    margin: 0 20px 0 0;
    font-size: 1.5em;
}

.sidebar-toggler, .map-viewer-toggler {
    color: var(--primary);
    display: flex;
    text-decoration: none;
    align-items: center;
    margin-top: 45px;
    margin-bottom: 45px;
}

.sidebar-toggler i, .map-viewer-toggler i {
    padding: 0 12px 0 0;
}

.sidebar-toggler span:hover, .map-viewer-toggler span:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
}

.sidebar-toggler:hover, .map-viewer-toggler:hover {
    cursor: pointer;
    color: var(--hesse-green);
}

.homebutton, .mapviewer_menu {
    display: none;
}

.sidebar-wrapper {
    list-style-type: none;
    width: 318px;
    margin: 0;
    position: absolute;
    left: 0px;
    overflow-x: hidden;
    overflow-y: visible;
    z-index: 1;
    transition-duration: 0.8s;
    transform: translateX(0px);
    background-color: white;
}
.sidebar-wrapper.closed{
    transform: translateX(-318px);
}

.sidebar-content{
    text-align: center;
    width: 100%;
    margin-top: 5px;
    color: white;
    border-left: 60px solid transparent;
    border-right: 15px solid transparent;
    box-sizing: border-box;
}
.sidebar-content a{
    outline: none;
    text-decoration: none;
}

.sidebar-content i, .sidebar-content img{
    width:28px;
}

.sidebar-title{
    text-align: center;
    font-weight: bold;
    color: white;
    padding: 0.85em 1.25em 1.25em 1.25em;
    font-size: 20px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.sidebar-area-title{
    display: flex;
    align-items: center;
    font-weight: bold;
    background-color: white;
    padding: 15px 2px 15px 15px;
    color: var(--hesse-grey);
    font-size: 1.0em;
}

.sidebar-area-title-text{
    text-align: left;
    padding: 0 0 0 20px;
    width: 100%;
    height: 100%;
    overflow-wrap: break-word;
    box-sizing: border-box;
    min-width: 140px;
}

.sidebar-area-title-text:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
}

.sidebar-area-title:hover{
    cursor: pointer;
    color: var(--hesse-green);
}

.sidebar-area-content{
    display: none;
    overflow-wrap: break-word;
}

.sidebar-area-content > div {
    font-weight: bold;
    padding: 10px 0 10px 10px;
    background-color: var(--hesse-lighterblue);
    color: var(--hesse-red);
    font-size: 0.8em;
    text-align: left;
    text-indent: 5px;
    margin-left: 15px;
}

.sidebar-list-element.current-page {
    display: block;
    color: white;
    background-color: var(--hesse-green);
    border-color: var(--hesse-green);
}

.sidebar-area.sidebar-content-opened div.sidebar-area-title {
    background-color: var(--hesse-lightblue);
    color: white;
}

.sidebar-area.sidebar-content-opened div.sidebar-area-title > .menuicon {
    background-color:white;
}

.sidebar-area-content > a{
    outline: none;
    text-decoration:none;
    color: white;
    display: block;
    background-color: var(--hesse-lighterblue);
}

.sidebar-list-element{
    display: table;
    color: var(--primary);
    padding: 0.7rem 0.9rem;
    cursor: pointer;
    text-align: left;
    font-size: 0.9em;
    border: 1px solid var(--hesse-grey);
    margin: 5px 0px 10px 15px;
}

.current-page{
    color: var(--hesse-green);
}

.sidebar-list-element:hover{
    text-decoration: none;
    color: white;
    background-color: var(--hesse-green);
    border: 1px solid var(--hesse-green);
    transition: color 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out;
}

.sidebar-area-title-icon{
    font-size: 1.3em;
    color: inherit;
}

.sidebar-area-title-icon i {
    padding-right: 5px;
}

.sidebar-area-title-icon .far.fa-user-circle {
    font-size: 1.2em;
}

.sidebar-area-title-icon.menuicon {
    background-color: var(--hesse-grey);
    mask-repeat: no-repeat !important;
    width: 28px;
    height: 24px;
    -webkit-mask-repeat: no-repeat;
}

.sidebar-area-title:hover > .menuicon {
    background-color: var(--hesse-green);
}

.sidebar-area-title.current-page .sidebar-area-title-icon.menuicon {
    background-color: var(--hesse-green);
}

#map-viewer-selector{
    display: none;
}

.footer-col-wrapper{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 7px 12px;

}
.footer-col{
    align-items: flex-start;
    margin: 0;
}

.footer-col > h6{
    color: var(--primary);
    font-weight: bold;
}

.footer-list{
    list-style-type: none !important;
}

.footer-list li{
    line-height: 2em;
    height: 2em;
    margin: 0 15px;
    float: left;
    font-size: 18px;
    padding: 0;
}

.footer-list a{
    color: #fff !important;
    font-size:0.85em;
    text-transform:uppercase;
    margin-left: -12px;
    padding-left: 32px;
}

.footer-col a{
    text-decoration: none;
}

.footer-col a:hover{
    text-decoration: underline;
}

.search-form-text-input{
    width: 100%;
}

/* MESSAGES */
.messages-container{
    display: none;
    position: absolute;
    right: 0;
    left: 0;
    margin: 0 10rem;
    z-index: 3;
}
.messages{
    width: 100%;
    -ms-filter: drop-shadow(2px 2px 2px black);
    -webkit-filter: drop-shadow(2px 2px 2px black);
    filter: drop-shadow(2px 2px 2px black);
    padding: 0 0 0 15px;
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
    border-radius: 0.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 45px;
}

.message-toggler{
    padding: 10px;
    color: white;
    font-weight: bold;
    border-radius: 0.25rem;
    border: 2px solid white;
    position: absolute;
    right: 0;
}
.success .message-toggler{
    background-color: var(--success-green);
}
.success .message-toggler:hover{
    border: 2px solid var(--success-green);
    background-color: white;
    color: var(--success-green);
}
.error .message-toggler{
    background-color: var(--error-red);
}
.error .message-toggler:hover{
    border: 2px solid var(--error-red);
    background-color: white;
    color: var(--error-red);
}

.message-toggler:hover{
    cursor:pointer;
}

.messages.success {
    background-color: var(--success-green);
}
.messages.error {
    background-color: var(--error-red);
}
.messages.success:hover, .messages.error:hover{
    cursor: default;
}

#backtotop{
position: fixed;
right: 20px;
bottom: 60px;
border: 2px solid #0362b9;
padding: 30px;
border-radius: 50%;
cursor: pointer;
background-color: #0362b9;
color: white;
background-image: url("../../../mapbender/img/geoportal2019/up.svg");
background-repeat: no-repeat;
background-position: center center;
background-size: 2em auto;
box-shadow: rgba(0, 0, 0, 0.3) 2px 2px 10px;
z-index:1;
}

.landing-page-body{
    margin:0 10px;
    background-color: var(--hesse-lighterblue);
    padding: 30px;
    margin: 0 10px 20px 10px;
}

.landing-page-headline h1{
    font-size: 1.5em;
    text-align: center;
    margin: 0 0 0.5em 0;
}

.landing-page-body .w3-container p{
    text-align: center;
    line-height:1.5;
}

.landing-page-headline{
    font-size: 1.5em;
    font-weight: bold;
    margin: 1em 0.7em;
}

.landing-page-headline h2{
    margin: 0;
    font-size: 1.3em;
}

.landing-page-headline h2{
    margin: 0;
    font-size: 1.3em;
}

.landing-page-box1 h2, .landing-page-box2 h2 {
    margin: 0 0 0.3em 0;
}

.landing-page-box1 h2{
    color: var(--hesse-lightgreen);
}

.landing-page-first-paragraph, .landing-page-second-paragraph {
    font-size: 0.7em;
    margin: 0 0 0.3em 0;
    line-height: 1.5;
    font-weight: normal;
}

.landing-page-first-paragraph {
    letter-spacing: 2px;
}

.landing-page-box1 .landing-page-first-paragraph {
    color: var(--hesse-lighterblue);
}

.landing-page-second-paragraph {
    letter-spacing: 1px;
}

.landing-page-box2 .landing-page-first-paragraph {
    color: var(--hesse-green);
}

.landing-page-box1, .landing-page-box2 {
    margin: 3em 10px;
    padding: 1.5em 1em 1em 1em;
}

.landing-page-box1 {
    background-color: var(--hesse-green);
    color: white;
}

.landing-page-box2 {
    background-color: var(--hesse-lightblue);
}

.tile {
    border: 1px solid;
}


.-js-spatial-restriction {
    word-break: break-word;
}

@media screen and (min-width: 685px) and (max-width: 1108px){
    #footer-news-api ul li:nth-last-child(1) a {padding:0 0 0 22px;}
    #footer-news-api ul li:nth-last-child(2) a {width:0px;overflow:hidden;white-space: nowrap;}
    #footer-news-api ul li:nth-last-child(3) a {width:0px;overflow:hidden;white-space: nowrap;}
    #footer-news-api ul li {margin:0;}
    .navbar-brand-and-site-name {font-size: 1.5rem;-webkit-transition: all 0.2s ease-in-out;
transition: all 0.2s ease-in-out;}
    .navbar-brand-and-site-name svg {width: 3rem;height: 3rem;-webkit-transition: all 0.2s ease-in-out;
transition: all 0.2s ease-in-out;}
    .sidebar-toggler span, .map-viewer-toggler span {display:none;}

}

@media screen and (max-width: 700px){

    .left-header{
        margin: 0;
        padding: 0.5rem 0 0 0;
        width: unset;
        align-items: flex-start;
    }

    .navbar-brand-and-site-name{
        align-items: flex-start;
        font-size: 1.25rem;
    }
    .navbar-brand-and-site-name svg{
        width: 3rem;
        height: 3rem;
    }
    
    .sidebar-toggler span, .map-viewer-toggler span {display:none;}
    
    .body-content{
        padding: 0rem;
        border: unset;
    }

    .header{
        height: unset;
        flex-direction: column;
        padding: 0.5rem 1rem;
    }
    .header > * {
    box-sizing: border-box;
    }
    .simple-search-field{
    box-sizing:border-box;
    }

    .simple-search-autocomplete{
        box-shadow: none;
        margin: -16px 0px 0px 0px;
        position: absolute;
        top: 159px;
        left: 0;
        width: 100%;
        box-sizing: border-box;
        border: 2px solid var(--hesse-green);
    }

    .middle-header-top.sticky-top > .simple-search-autocomplete{
        left:0;
    }

    .simple-search-autocomplete .headline,.simple-search-autocomplete .suggestion {
    padding:0;
    }

    .upper-header {
    display:none;
    }
    
    .right-header{
        width:15px;
        padding:0;
        height:unset;
    }
    .sidebar-toggler{
        align-items: flex-start;
        margin-top: 25px 0;
        font-size: 1.5rem;
        padding: 0.5rem;
    }
    .sidebar-toggler i{
        padding: 0 3px 0 0;
    }
    .sidebar-toggler i:hover{
    }

    .sidebar-toggler span{
    display:none;
    }

    .middle-header{
        margin: 0;
        padding: 0px;
        width: 100%;
        flex-direction: row;
    }

    .searchbar-container{
        padding: 0;
    }

    .lower-header{
        display:none;
    }
    .map-viewer-toggler{
    display:none;
    }

    .spatial-submit-button {font-size: 1em;}
    .spatial-submit-button label {flex-direction: column;}
    .spatial-submit-button label i {padding:0 0 4px 0;}

    .spatial-search-text {margin-left:12px;padding:0px 5px 5px 5px;}

    .sticky-top{
        min-width: 100%;
        left: 0;
        margin: 0 0 0 0;
    }

    .middle-header-top{
        margin:0px 0px 16px 12px;
    }
    
    
    .middle-header-top.sticky-top{
       margin-left:0; 
    }


    #middle-header-bottom{
        display: none;
    }

    #sidebar{
        font-size: 1.25em;
        width: 100%;
        top:143px;
        border-top:2px solid var(--hesse-green);
        background-color: white;
    }

    .homebutton, .mapviewer_menu {
        display: list-item;
    }

    .sidebar-content {
        border: unset;
    }

    .sidebar-list-element{
        font-size: 0.9em;
    }

    .body-content.sidebar-open{
        transform: unset;
        margin-right: unset;
    }

    .body-content .title {
        justify-content: center;
        display: flex;
    }

    .form-wrapper {
        justify-content: center;
    }

    .messages-container {
        margin: 0 2rem;
    }

    .sidebar-toggler img, .map-viewer-toggler img, .map-viewer-selector img{
        width: 3.5em;
    }

    #mapviewer{
    margin: 0 0 0 0;
    }

    .map-sidebar {
        top: -6px;
        left: 40px;
        padding: 0;
    }

    .map-viewer-list {
    margin-right: 0px;
    }
    
    .map-viewer-selector, .map-applications-toggler{
    padding: 0;
    margin: 0;
    font-size: 0.8em;
    }
    .map-viewer-toggler{
    top:31px;
    right:25px;
    }
    .map-viewer-toggler i{
    padding: 0 0 0 2px;
    } 

    .map-viewer-toggler span{
    display:none; 
    }
     
    .map-viewer-selector i, .map-applications-toggler i{
        padding: 6px;
    }
    .map-viewer-toggler i:hover{
    }
    .map-viewer-toggler:hover{
    }
    .right-header-bottom{
    margin-right:25px;
    }

    .sidebar-area-title-icon{
        font-size: 1.1em;
    }

    .sidebar-title{
        font-size: 1em;
    }

    .landing-page-body{
        margin:0 0 1rem 0;
        background-color: var(--hesse-lighterblue);
        padding: 30px;
        border: none;
    }

    .landing-page-headline{
        margin: 1em 0.7em;
    }

    .landing-page-headline h1{
        font-size: 1.5em;
        text-align: center;
        margin: 0 0 0.5em 0;
    }

    .landing-page-headline h2{}

    .landing-page-headline-special h2{}

    .landing-page-body .w3-container p{
        text-align: center;
        line-height:1.5;
    }

    .tile{border:1px solid !important;}

    .quickstart-container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: unset;
        max-width: unset;
        margin: unset;
    }

    .quickstart {
        width: 100%;
        margin: 1rem 0;
        background-color: var(--hesse-lightblue);
        color: var(--hesse-green);
        padding: 2rem;
        box-sizing: border-box;
    }

    .quickstart:hover{
        transform: unset;
        box-shadow: unset;
    }

    .quickstart-header{
        font-size: 1.5em;
    }

    footer{
        font-size: 1.25em;
        position:unset;
        bottom:unset;
        z-index: unset;
    }
    .footer-col-wrapper{
        flex-direction: column;
        margin: 7px 0px;
    }
    
    .footer-list li{
    float:unset;
    margin: 0px;
    line-height:2.6em;
    height:2.6em;
    }
    
    .footer-list li a{
    }

    .right-footer{
        display: none;
    }
    #footer-legal{
        margin: 0 0 0 0;
    }
    
    #footer-legal > .footer-list li a{
        font-weight:bold;
        font-size:
    }

    #footer-news-api{
        margin: 0;
    }

    #footer-news-api > .footer-list li{
    border-top: 1px solid #666;
    }

    #footer-news-api a {
    text-transform: none;
    }
    
    .sidebar-wrapper.closed{
        transform: translateX(-100vw);
    }

    .cookie-container{
        position: fixed;
        z-index: 100;
        top: 0;
        bottom: unset;
	height: 175px;
    }

    .mobile-advice{
        font-weight: bold;
    }
    .wrapper{margin: 0 !important;}
    .search-result-body{padding:0 5px !important;}
    #search-main-content {padding:0 !important;}

    .popup-landing .popuptext-landing {}

    .popup-landing .popuptext-landing::after {}

    .popup-search .popuptext-search {
      bottom: 125%;
      left: 350%;
    }

    .landing-page-box1, .landing-page-box2 {
    margin: 3em 0px;
    }

}

