/*
DECLARE FIX COLOR CODES FOR CORPORATE DESIGN
*/
:root{
    --primary: #871d33;
    --primary-invert: #78e2cc;
    --primary-hover: #b77784;
    --primary-light: #a7233f;
    --primary-light-hover: #c82a4b;

    --secondary: #e2e2e2;
    --secondary-font: #666;
    --secondary-hover: #aeaeae;
    --secondary-placeholder: #868686;
    --secondary-light: #EFEFEF;

    --success-green: #1d873c;
    --error-red: #871d28;
    --warning: #87711d;
}
