/*

    THIS IS THE STYLESHEET FOR landing_page.html, publishing_organizations.html and
    ALL CHANGES SHOULD GO HERE

*/



@import 'color_schema.css';

.tile-wrapper{
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
}

.tile-wrapper a{
    outline: none;
    text-decoration: none;
}

.tile{
    display: flex;
    flex-direction: column;
    margin: 10px;
    width: 250px;
    transition: all 0.1s ease-in-out;
    background-color: var(--rlp-gray);
}
.organizations .tile{
    width: 175px;
}
.tile:hover{
    transform: scale(1.05);
    box-shadow: 0 0 10px var(--rlp-red);
}

.tile-header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    color: var(--rlp-red);
    font-weight: bold;
    height: 70px;

    -webkit-hyphens: auto;
       -moz-hyphens: auto;
        -ms-hyphens: auto;
            hyphens: auto;
    text-align: justify;
}

.tile-img{
    width: 250px;
    height: 150px;
    object-fit: cover;
}
.organizations .tile-img, .topics .tile-img{
    width: 175px;
    height: 50px;
    object-fit: contain;
}

.topics .tile-img, .topics .sub-tile-img.only{
    transition: all 0.1s ease-in-out;
    -webkit-filter: grayscale(1.0);
    filter: grayscale(1.0);
}

.tile-img:hover{
    cursor: pointer;
    opacity: 0.5;
}
.topics .tile-img:hover, .topics .sub-tile-img.only:hover{
    opacity: 1.0;
    -webkit-filter: grayscale(0.0);
    filter: grayscale(0.0);
}

.tile-content{
    -moz-hyphens: auto;
    hyphens: auto;
    font-size: 0.8em;
    min-height: 150px;
    height: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.tile-content-abstract{
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 10px 0;
}

.tile-content-img{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.tile-body:hover{
    background-color: var(--rlp-red-light-hover);
}

.sub-tile-container{
    display: flex;
    justify-content: space-between;
}
.organizations .sub-tile-container, .topics .sub-tile-container{
    color: var(--rlp-gray);
}

.mobile-button{
    opacity: 0.5;
}
.mobile-button:hover{
    opacity: 1;
    cursor: pointer;
}

.view-count{
    padding: 10px 0;
    font-size: 0.8em;
}
.view-count img{
    opacity: 0.5;
}
.view-count:hover{
    cursor: default;
}

#show-all-tile{
    border: 2px solid var(--rlp-red);
}

.sub-tile-img{
    padding: 0 10px 0 0;
    -webkit-filter: invert(1.0);
    filter: invert(1.0);
}
.sub-tile-img:hover{
    -webkit-filter: invert(0.0);
    filter: invert(0.0);
}

.sub-tile-img.only{
    padding: 0;
}


.organizations .data-info-container, .topics .data-info-container{
    display: flex;
    align-items: center;
    padding: 5px;
    color: var(--rlp-gray-font);
}
.organizations .data-info-container:hover, .topics .data-info-container:hover{
    background-color: var(--rlp-red);
    color: white;
    cursor: pointer;
}