/*

    THIS IS THE STYLESHEET FOR landing_page.html, publishing_organizations.html and
    ALL CHANGES SHOULD GO HERE

*/

@import 'color_schema.css';

.tile-wrapper{
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
}

.tile-wrapper a{
    outline: none;
    text-decoration: none;
}

.tile{
    display: flex;
    flex-direction: column;
    margin: 10px;
    /*
    width: 250px;
    */
    width: 15em;
    transition: all 0.1s ease-in-out;
    background-color: var(--secondary);
}
.tile:hover{
    transform: scale(1.05);
    box-shadow: 0 0 10px var(--primary);
}

.tile-header{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    color: var(--primary);
    font-weight: bold;
    flex-direction: column;
    /*
    height: 70px;
    */

    height: 15em;

    -webkit-hyphens: auto;
       -moz-hyphens: auto;
        -ms-hyphens: auto;
            hyphens: auto;
    /*
    text-align: justify;
    */
}

.tile-header:hover{
    cursor: pointer;
    opacity: 0.85;
}

.tile-title{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px 10px 10px;
    height: 100%;
}

.tile-img{
    /*
    width: 250px;
    height: 150px;
    */
    width: 15em;
    height: 7em;
    object-fit: cover;
}

.topics .tile-img, .topics .sub-tile-img.only{
    transition: all 0.1s ease-in-out;
    /*
    -webkit-filter: grayscale(1.0);
    filter: grayscale(1.0);
    */
}
.topics .tile-img:hover, .topics .sub-tile-img.only:hover{
    opacity: 1.0;
    /*
    -webkit-filter: grayscale(0.0);
    filter: grayscale(0.0);
    */
}

.tile-content{
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
    font-size: 0.8em;
    min-height: 150px;
    height: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.tile-content-abstract{
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 10px 0;
}

.tile-header-img{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.tile-body:hover{
    background-color: var(--primary-light-hover);
}

.sub-tile-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mobile-button{
    opacity: 0.5;
}
.mobile-button:hover{
    opacity: 1;
    cursor: pointer;
}

.view-count{
    padding: 10px 0;
    font-size: 0.8em;
}
.view-count img{
    opacity: 0.5;
}
.view-count:hover{
    cursor: default;
}

#show-all-tile{
    border: 2px solid var(--primary);
}

.sub-tile-img{
    padding: 0 10px 0 0;
    max-width: 2em;
}


.sub-tile-img.only{
    padding: 0;
}

/*      Tiles       */

.tile-filter-options{
    display: flex;
    align-items;
    justify-content: center;
    margin: 1em 0;
}

.tile-filter-input-wrapper{
    display: flex;
    align-items: center;
}

#tile-filter-input-icon{
    width: 2em;
    opacity: 0.2;
    -webkit-filter: grayscale(1.0);
    filter: grayscale(1.0);
    position: relative;
    right: 2.5em;
}
#tile-filter-input-icon:hover{
    pointer-events: none;
}

.tile-filter-input::placeholder{
    text-align: left;
}
.tile-filter-input{
    border: 1px solid var(--secondary-font);
    line-height: 2em;
    padding: 5px 10px 5px 10px;
    background-color: white;
    color: var(--primary);
    outline: none;
    font-size: 1em;
    flex-grow: 1;
    max-width: 15em;
}
.tile-filter-input:focus{
    border-color: var(--primary);
    box-shadow: 0 0 10px var(--primary);
}

.organizations .tile{
    width: 175px;
}
.organizations .tile-img, .topics .tile-img{
    width: 7em;
    /*
    height: 50px;
    */
    object-fit: contain;
}

.organizations .sub-tile-container, .topics .sub-tile-container{
    color: var(--secondary);
}

.organizations .data-info-container, .topics .data-info-container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    color: var(--secondary-font);
    flex-grow: 1;
}
.organizations .data-info-container:hover, .topics .data-info-container:hover{
    background-color: var(--primary);
    color: white;
    cursor: pointer;
}

@media screen and (max-width: 700px){

.
    .tile-wrapper{
        width: 90vw;
    }

    .tile{
        width: 90vw;
    }

    .tile:hover{
        transform: unset;
    }

    .tile-header{
        font-size: 1.25em;
        height: 12em;
    }
    .tile-img{
        width: 90vw;
        height: 7em;
    }
    .tile-content{
        font-size: 1.05em;
    }

    .mobile-button{
        padding: 0 1em;
    }

    .mobile-button img{
        height: 3em;
    }

    .view-count{
        padding: 1em;
    }

    .view-count img{
        width: 2em;
    }
}