/*

    THIS IS THE STYLESHEET FOR landing_page.html, publishing_organizations.html and
    ALL CHANGES SHOULD GO HERE

*/

@import 'color_schema.css';

.tile-wrapper{
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
}

.tile-wrapper a{
    outline: none;
    text-decoration: none;
}

.tile{
    display: flex;
    flex-direction: column;
    margin: 10px;
    /*
    width: 250px;
    */
    width: 15em;
    transition: all 0.1s ease-in-out;
    background-color: var(--secondary);
}
.tile:hover{
    transform: scale(1.05);
    box-shadow: 0 0 10px var(--primary);
}

.tile-header{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    color: var(--primary);
    font-weight: bold;
    flex-direction: column;
    /*
    height: 70px;
    */

    height: 15em;

    -webkit-hyphens: auto;
       -moz-hyphens: auto;
        -ms-hyphens: auto;
            hyphens: auto;
    /*
    text-align: justify;
    */
}

.tile-header:hover{
    cursor: pointer;
    opacity: 0.85;
}

.tile-title{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px 10px 10px;
    height: 100%;
}

.tile-img{
    /*
    width: 250px;
    height: 150px;
    */
    width: 15em;
    height: 7em;
    object-fit: cover;
}

.topics .tile-img, .topics .sub-tile-img.only{
    transition: all 0.1s ease-in-out;
    /*
    -webkit-filter: grayscale(1.0);
    filter: grayscale(1.0);
    */
}
.topics .tile-img:hover, .topics .sub-tile-img.only:hover{
    opacity: 1.0;
    /*
    -webkit-filter: grayscale(0.0);
    filter: grayscale(0.0);
    */
}

.tile-content{
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
    font-size: 0.8em;
    min-height: 150px;
    height: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.tile-content-abstract{
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 10px 0;
}

.tile-header-img{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.tile-body:hover{
    background-color: var(--primary-light-hover);
}

.sub-tile-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mobile-button{
    opacity: 0.5;
}
.mobile-button:hover{
    opacity: 1;
    cursor: pointer;
}

.view-count{
    font-size: 1.0em;
}
.view-count img{
    opacity: 0.5;
}
.view-count:hover{
    cursor: default;
}

#show-all-tile{
    border: 2px solid var(--primary);
}

.sub-tile-img{
    padding: 0 10px 0 0;
    max-width: 2em;
}


.sub-tile-img.only{
    padding: 0;
}


@media screen and (max-width: 700px){

    .mobile-button{
        padding: 0 1em;
    }

    .mobile-button img{
        height: 3em;
    }

    .view-count{

    }

    .view-count img{
        width: 2em;
    }
}