@import "color_schema.css"

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.ttf?f76mlk") format("truetype"), url("../fonts/icomoon.woff?f76mlk") format("woff"), url("../fonts/icomoon.svg?f76mlk#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

.field-wrapper{
    padding: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.warning{
    color: red;
    font-weight: bold;
}

form input[type=text], form input[type=password], form input[type=email]{
    padding: 10px;
    border: 2px solid var(--secondary);
    border-radius: 5px;
    color: var(--primary);
    background-color: white;
    width: 100%;
}

.submit-button-wrapper{
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
}
.submit-button-wrapper a{
    text-decoration: none;
}

#delete-form-button:hover{
    cursor: pointer;
    background-color: white;
    border: 1px solid red;
    color: red;
    font-weight: bold;
}

.forgot-pw-button{
    padding: 10px;
    color: var(--primary);
}
.forgot-pw-button:hover{
    cursor: pointer;
    color: var(--primary-light-hover);
}

.form-submit-button, .form-cancel-button{
    padding: 10px;
    font-size: 1.2em;
    color: white;
    border: none;
    font-weight: bold;
    background-color: var(--primary);
}

.form-delete-submit-button{
    padding: 10px;
    font-size: 1.2em;
    color: white;
    border: none;
    border: 1px solid;
    font-weight: bold;
    background-color: var(--primary);
    order:-1;
}

.form-change-submit-button{
    padding: 10px;
    font-size: 1.2em;
    color: white;
    border: none;
    font-weight: bold;
    background-color: var(--primary);
    }

.form-change-submit-button:hover{
    cursor: pointer;
    background-color: var(--primary-hover);
}

.form-submit-button:hover, .form-cancel-button:hover{
    cursor: pointer;
    background-color: var(--primary-light-hover);
}


.form-wrapper{
    display: flex;
    justify-content: center;
}

.small-label label{
    color: gray;
    font-size: 12px;
}

.title h1{
    color: var(--primary);
}
.field-label{
    width: 300px;
}
.field-value{
    min-width: 200px;
    width: 100%;
}

.field-value input:focus{
    border-color: var(--primary);
    box-shadow: 0 0 10px var(--primary);
}

#password_message {
  background: #f1f1f1;
  color: #000;
}

.sliding{
  transition: height 0.66s ease-out;
  height: 0;
  overflow: hidden;
}

.sliding.in{
    height: 120px;
}

.valid {
  color: green;
}

.valid:before {
  position: relative;
  content: "✔ ";
}

/* Add a red text color and an "x" when the requirements are wrong */
.invalid {
  color: red;
}

.invalid:before {
  position: relative;
  content: "✖ ";
}

.captcha{
    width: 100px;
    height: 45px;
}

.foot-note{
    color: gray;
    font-size: 0.8em;
}

.captcha-refresh{
    text-decoration: none;
    color: #fff;
    font-size: 1.5em;
    position: relative;
    padding: 8px;
    left: 10px;
    bottom: 12px;
    font-size: 1.5em;
    font-weight: bold;
    color: white;
    background-color: var(--primary);
}
.captcha-refresh:hover{
    background-color: var(--primary-light-hover);
}
@media screen and (max-width: 600px){
    .form-wrapper{display:block;justify-content:unset;padding:15px;margin: 0;box-sizing: border-box;}
    .field-wrapper{display:unset;padding:0px;}
    .field-wrapper td{display:block;width: calc(100vw - 50px);box-sizing: border-box;}
    .field-value{min-width:unset;width:calc(100vw - 30px);}
    .field-value input{box-sizing:border-box;}
    .field-label{width: calc(100vw - 30px);}
    .submit-button-wrapper{margin:1rem 0.1rem 0 0.2rem;}
    .forgot-pw-button{display:block;padding:12px 0 10px 0}
    .form-submit-button{display:block;}
    .title{padding:0 18px;}
    .description{padding:0 18px;}
    .foot-note{margin:0 3px;}
    .messages-container{margin:0 1.2rem 0 0.2rem;}
}