/*

    THIS IS THE STYLESHEET FOR wiki.html
    ALL CHANGES SHOULD GO HERE

*/

@import 'color_schema.css';

.mediawiki-article > * {
    line-height: 1.5;
}

.mediawiki-article{
    padding: 0 50px 0 0;
    max-width:900px;
}

.mediawiki-article p, .mediawiki-article li{
    font-size: 1.0em;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
    text-align: justify
}

.mediawiki-article h1, .mediawiki-article h2{
/*    padding-bottom: .5em;
    border-bottom: 1px solid #444444;*/
}

.mediawiki-article hr{
    margin: 1em 0 1em 0;
    border:none;
    border-bottom: 1px solid #444444;
}

h1 .mw-headline{
    color: var(--primary);
}

h2 .mw-headline{
    color: var(--primary);
}

h3 .mw-headline{
    color: var(--primary);
}

.mediawiki-article ul{
    list-style: square var(--primary);
    padding: 0 0 0 20px;
}

.mediawiki-article dd {
    margin-left: unset;
}
.mediawiki-article li {
    padding-bottom: 0.5em;
}

.tright{
    float: right;
}
.tleft{
    float: left;
}

.thumbinner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid var(--secondary);
    padding: 5px;
}
.thumbcaption{
    text-align: center;
}

.external, a{
    color: var(--hesse-red);
    text-decoration: none;
}
.external:hover{
    color: var(--primary-light-hover);
    text-decoration: underline;
}

.center{
    display: flex;
    justify-content: center;
}

.image > img, a > img{
    max-width: 100%;
    height: auto;
}

#toc {
    list-style-type: none;
    background-color: #e2e2e2;
    padding: 15px;
    margin-top: 15px;
    display: inline-block;
}

#toc h2 {
    margin-top: 0;
}

#toc a:hover {
    text-decoration: underline;
}

.wikitable {
    border: 0px !important;
    margin: 0;
    padding: 10px;
    background-color: #e2e2e2;
}

.iframedatenanbieter {
    width: 100%;
    max-width: 900px;
}

.address{
display: block;
margin: 0;
}
.address2{
display: block;
margin: 10px 0 0 0;
}


/* FOR MOBILE USERS */
@media only screen and (max-width: 1000px){
    .mediawiki-article{
        padding: 10px;
    }
}

.djangodeactivate{
display:none;
}
