/*

    THIS IS THE STYLESHEET FOR wiki.html
    ALL CHANGES SHOULD GO HERE

*/

@import 'color_schema.css';


.mediawiki-article{
    padding: 0 50px 0 0;
}

.mediawiki-article p, .mediawiki-article li{
    font-size: 1.0em;
    hyphens: auto;
    text-align: justify
}

h1 .mw-headline{
    color: var(--primary);
}

h2 .mw-headline{
    color: var(--primary);
}

h3 .mw-headline{
    color: var(--primary);
}

.mediawiki-article ul{
    list-style: square var(--primary);
    padding: 0 0 0 20px;
}

.tright{
    float: right;
}
.tleft{
    float: left;
}

.thumbinner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid var(--secondary);
    padding: 5px;
}
.thumbcaption{
    text-align: center;
}

.external, a{
    color: var(--primary);
    text-decoration: none;
}
.external:hover, a:hover{
    color: var(--primary-light-hover);
    text-decoration: underline;
}

.center{
    display: flex;
    justify-content: center;
}

.image > img{
    max-width: 100%;
    height: auto;
}



/* FOR MOBILE USERS */
@media only screen and (max-width: 1000px){
    .mediawiki-article{
        padding: 0;
    }
}