/*

    THIS IS THE STYLESHEET FOR wiki.html
    ALL CHANGES SHOULD GO HERE

*/

@import 'color_schema.css';

.mediawiki-article > * {
    line-height: 1.5;
}

.mediawiki-article{
    padding: 0 50px 0 0;
    max-width:900px;
}

.mediawiki-article p, .mediawiki-article li{
    font-size: 1.0em;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
    text-align: justify
}

.mediawiki-article h1, .mediawiki-article h2{
/*    padding-bottom: .5em;
    border-bottom: 1px solid #444444;*/
}

.mediawiki-article hr{
    margin: 1em 0 1em 0;
    border:none;
    border-bottom: 1px solid #444444;
}

span.mw-headline {
    display: block;
    margin-top: -70px;
    padding-top: 70px;
}

h1 .mw-headline{
    color: var(--primary);
}

h2 .mw-headline{
    color: var(--primary);
}

h3 .mw-headline{
    color: var(--primary);
}

.mediawiki-article ul{
    list-style: square var(--primary);
    padding: 0 0 0 20px;
}

.mediawiki-article dd {
    margin-left: unset;
}
.mediawiki-article li {
    padding-bottom: 0.5em;
}

.tright{
    float: right;
}
.tleft{
    float: left;
}

.thumbinner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid var(--secondary);
    padding: 5px;
}
.thumbcaption{
    text-align: center;
}

.external, a{
    color: var(--hesse-red);
    text-decoration: none;
}
.external:hover{
    color: var(--primary-light-hover);
    text-decoration: underline;
}

.center{
    display: flex;
    justify-content: center;
}

.image > img, a > img{
    max-width: 100%;
    height: auto;
}

#toc {
    list-style-type: none;
    background-color: #e2e2e2;
    padding: 15px;
    margin-top: 15px;
    display: inline-block;
}

#toc h2 {
    margin-top: 0;
}

#toc a:hover {
    text-decoration: underline;
}

.wikitable {
    border: 0px !important;
    margin: 0;
    padding: 10px;
    background-color: #e2e2e2;
}

.iframedatenanbieter {
    width: 100%;
    max-width: 900px;
}

.address{
display: block;
margin: 0;
}
.address2{
display: block;
margin: 10px 0 0 0;
}

.floatright{
    float:right;
}

/* I N F O B O X  2 */
.mediawiki-article .infobox {
    margin: 0 0 15px 15px;
    width: 250px;
}

.mediawiki-article .infobox-title {
    padding: 10px;
    text-align: center;
    background-color: var(--hesse-lightblue);
    border-bottom: 5px solid white;
}

.mediawiki-article .infobox-title h2{margin:0;}

.mediawiki-article .infobox-content, .mediawiki-article .infobox-image {
    padding: 10px;
    background-color: var(--hesse-lighterblue);
}

.mediawiki-article .infobox-image .floatnone {
    width:100%;
}
.mediawiki-article .infobox-image > div a img {
    min-width: 100%;
}

/* B U T T O N  */
.custom-button {
}

.custom-button a {
    color: white;
    padding: 10px;
    font-size: 1.2em;
    color: white;
    border: none;
    font-weight: bold;
    background-color: var(--hesse-grey);
}

.custom-button a:hover {
    color: white;
    background-color: var(--primary-light-hover);
    text-decoration:none;
}

.specialrsscss a {
    padding-right: 40px;
}

/* FOR MOBILE USERS */
@media only screen and (max-width: 700px){
    .mediawiki-article{
        padding: 10px;
    }
    .mediawiki-article .infobox {
    margin: 0;
    width: 100%;
    }
    .floatright{
    float:unset;
    display:block;
    }
}
.real-external::after{
    content:"\f35d";
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    font-size:0.6em;
    margin: 0px 0 0px 5px;
    color: var(--hesse-grey);
    vertical-align: middle;
}
.external{}

.djangodeactivate{
display:none;
}
