
/*      Tiles       */

.tile-options-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}

.options-middle, .options-left, .options-right{
    margin: 1em 0;
    width: 33%;
    display: flex;
}

.options-middle{
    align-items: center;
    justify-content: center;
}

.options-left{
    flex-direction: column;
    align-items: start;
    justify-content: start;
}

.options-right{
    flex-direction: column;
    align-items: end;
    justify-content: end;
}

.tile-filter-input-wrapper{
    display: flex;
    align-items: center;
}

#tile-filter-input-icon{
    width: 2em;
    opacity: 0.2;
    -webkit-filter: grayscale(1.0);
    filter: grayscale(1.0);
    position: relative;
    right: 2.5em;
}
#tile-filter-input-icon:hover{
    pointer-events: none;
}

.tile-filter-input::placeholder{
    text-align: left;
}
.tile-filter-input{
    border: 1px solid var(--secondary-font);
    line-height: 2em;
    padding: 5px 10px 5px 10px;
    background-color: white;
    color: var(--primary);
    outline: none;
    font-size: 1em;
    flex-grow: 1;
    max-width: 15em;
}
.tile-filter-input:focus{
    border-color: var(--primary);
    box-shadow: 0 0 10px var(--primary);
}


.switch{
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: var(--primary);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--primary);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


.organizations .tile{
    width: 175px;
}
.organizations .tile-img, .topics .tile-img{
    width: 7em;
    /*
    height: 50px;
    */
    object-fit: contain;
}

.organizations .sub-tile-container, .topics .sub-tile-container{
    color: var(--secondary);
}

.organizations .data-info-container, .topics .data-info-container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    color: var(--secondary-font);
    flex-grow: 1;
}
.organizations .data-info-container:hover, .topics .data-info-container:hover{
    background-color: var(--primary);
    color: white;
    cursor: pointer;
}




@media screen and (max-width: 700px){

.
    .tile-wrapper{
        width: 90vw;
    }

    .tile{
        width: 90vw;
    }

    .tile:hover{
        transform: unset;
    }

    .tile-header{
        font-size: 1.25em;
        height: 12em;
    }
    .tile-img{
        width: 90vw;
        height: 7em;
    }
    .tile-content{
        font-size: 1.05em;
    }
