/**

    THIS IS THE STYLESHEET FILE FOR unsupported_browser.html
    ALL CHANGES SHOULD GO HERE!

**/


@import 'color_schema.css';

*{
    font-family:Arial,Helvetica,"Sans Serif" !important;
}

html{
    min-height: 100%;
    font-family: sans-serif;
}

body{
    margin: 0;
    min-height: 100%;
    background-image: linear-gradient(white, var(--rlp-gray));
}

h1{
    border-bottom: 2px groove var(--rlp-red);
}

.content{
    display: block;
    padding: 10vh 30vw 10vh 30vw;
    text-align: justify;
}

footer{
    border-top: 1px solid gray;
    background-image: linear-gradient(var(--rlp-gray), white);
    width: 100%;
    text-align: center;
}
footer img{
    max-height: 7vw;
    min-height: 100px;
    padding: 20px;
}
