{% extends 'base.html' %}
{% load i18n static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static '/useroperations/css/404.css' %}" media="all" />
{% endblock %}

{% block body %}
<div class="page-404-container">
    <div class="page-404-title">
        <img alt="{% trans 'A warning triangle with an exclamation mark inside' %}" src="{% static 'useroperations/images/icn_generic_error.png' %}">
        {% trans 'Something went wrong...' %}
    </div>
    <div class="page-404-body">
        {% trans 'The page you requested does not seem to exist. Please inform an administrator.' %}
    </div>
</div>
    
{% endblock %}