<!DOCTYPE html>
<html lang="en">
{% load static i18n %}
<head>
    <meta charset="UTF-8">
    <title>Geoportal{% block title %} {{ GEOPORTAL_IDENTIFIER }} {% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static '/useroperations/css/unsupported.css' %}" media="all" />
</head>
<body>
<body class="unsupported-browser">
    <div class="content">
        <h1>{% trans 'Maintenance ongoing' %}</h1>
        <article>
            {% trans 'Dear Visitor,' %} <br>
            {% trans 'we are currently working on the Geoportal.' %} <br>
            {% trans 'The service will be back as fast as possible.' %}
            <hr>
            {% trans 'Helpdesk contact:' %} +49 (0) 261/492-300 | helpdesk@vermkv.rlp.de
        </article>
        <h3>{% trans 'Thank you for your understanding!' %}</h3>
    </div>
</body>

<footer class="unsupported-browser">
    <a href="/"><img alt="{% trans 'The logo of Geoportal Rhineland-Palatinate' %}" id="logo_geoportal" src="{% static 'useroperations/images/logo-gdi.png' %}" title="{{ LOGO_GEOPORTAL_TITLE }}" /></a>
</footer>

</body>
</html>