
{% load i18n %}

<div class="cookie-container">
    <article class="cookie-text">

        {% blocktrans %}
        This webpage uses cookies to provide you the best user experience. <br>
        On further questions regarding personal data security, please read our
        {% endblocktrans %}
        <a href="{%url 'useroperations:index' wiki_keyword='Datenschutz' %}">{% trans 'data policy' %}</a>.
	Bitte lesen Sie auch unsere <a href="/article/Impressum/#Nutzungsbedingungen">Nutzungsbedingungen</a>.
    </article>
    <div class="cookie-button form-submit-button" onclick="sc()">{% trans 'I understand!' %}</div>
</div>
<script>
    function sc(){
        var cookieBanner = $(".cookie-container");
        cookieBanner.toggle();
        setCookie('{{ COOKIE_VALUE }}', true)
    }
</script>
