<!DOCTYPE html>
<html lang="en">
{% load static i18n %}
<head>
    <meta charset="UTF-8">
    <title>Geoportal{% block title %} {{ GEOPORTAL_IDENTIFIER }} {% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static '/useroperations/css/unsupported.css' %}" media="all" />
</head>
<body class="unsupported-browser">
    <div class="content">
        <h1>{% trans 'Unsupported browser detected' %}</h1>
        <article>
            {% trans 'Dear Visitor,' %} <br>
            {% trans 'you are using a not supported browser. For the best user experience and for reasons of data security it is recommended to use a modern browser,' %} <br>
            {% trans 'such as Microsoft Edge, Mozilla Firefox, Google Chrome or Opera.' %}
            {% trans 'Additional information can be found on the following page:' %}
	    <a href="https://www.geoportal.rlp.de/mediawiki/index.php/Browserkompatiblit%C3%A4t">{% trans 'Compatibility' %}.<a><br>
            Kontakt zum Helpdesk: +49 (0) 261/492-300; helpdesk@vermkv.rlp.de.
        </article>
        <h3>{% trans 'Thank you for your understanding!' %}</h3>
    </div>
</body>

<footer class="unsupported-browser">
    <a href="/"><img alt="{% trans 'The logo of Geoportal Rhineland-Palatinate' %}" id="logo_geoportal" src="{% static 'useroperations/images/logo-gdi.png' %}" title="{{ LOGO_GEOPORTAL_TITLE }}" /></a>
</footer>

</html>
